@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@font-face {
  font-family: 'geometria', sans-serif;
  src: url("../fonts/geometria/geometria-bold-webfont.eot");
  src: url("../fonts/geometria/geometria-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria/geometria-bold-webfont.woff2") format("woff2"), url("../fonts/geometria/geometria-bold-webfont.woff") format("woff"), url("../fonts/geometria/geometria-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  background: #fff; }

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.butn {
  display: inline-block;
  height: 49px;
  line-height: 49px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #5ad5a1;
  padding: 0 10px;
  border: 1px solid #5ad5a1;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center; }

.butn:hover, .butn:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #8ce2bd;
  border: 1px solid #8ce2bd; }

.butn_white {
  background-color: #fff;
  color: #5ad5a1; }

.butn_white:hover, .butn_white:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #8ce2bd;
  border: 1px solid #8ce2bd;
  background-color: #5ad5a1; }

.butn_tada {
  background: #fff;
  border-color: #fff;
  color: #5ad5a1;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

.butn_tada:hover {
  border-color: #fff;
  background: #fff;
  color: #5ad5a1;
  -webkit-animation-name: Tada;
  animation-name: Tada; }

@-webkit-keyframes Tada {
  0% {
    -webkit-transform: scale(1); }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0); } }

@keyframes Tada {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); } }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-f {
  background-image: url(../img/sprite.png); }

.icon-insta {
  background-image: url(../img/sprite.png); }

.icon-twee {
  background-image: url(../img/sprite.png); }

.icon-yt {
  background-image: url(../img/sprite.png); }

/*---=== header ===---*/
.header__top {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(120deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%);
  background-image: linear-gradient(-30deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%);
  z-index: 995; }

.navi {
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  margin-bottom: 0; }

.navi:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

.navi > li {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  position: relative; }

#nav {
  margin-bottom: -5px; }

#nav li a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  height: 60px;
  padding: 0 30px; }

#nav li a:hover {
  text-decoration: none;
  background: #8ed7f6; }

.header__middle {
  padding-top: 97px;
  padding-bottom: 30px; }

.logo img {
  max-width: 100%; }

.heder__logo {
  padding-right: 0; }

.slogan {
  padding-left: 75px;
  padding-right: 5px;
  position: relative; }

.slogan:before {
  content: "";
  display: block;
  position: absolute;
  width: 47px;
  height: 47px;
  left: 10px;
  top: 0;
  background: url("../img/ico-24-7.png"); }

.phone a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #333333; }

.phone span {
  display: block; }

.header__phone {
  padding-left: 0; }

.header__button-holder .butn {
  width: 100%; }

#nav-low {
  border-top: 1px solid #e4e4e4;
  margin-bottom: -5px; }

#nav-low > li {
  position: relative; }

#nav-low > li.toggleUL {
  padding-left: 45px; }

#nav-low > li > a {
  display: block;
  height: 64px;
  line-height: 64px;
  color: #333333;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

#nav-low > li > a:after, #nav-low > li > a:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  height: 1px;
  background-color: #5ad5a1;
  right: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#nav-low > li > ul {
  z-index: -9;
  visibility: hidden;
  padding: 4px 0;
  list-style: none;
  position: absolute;
  top: 100%;
  width: 246px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #8ce2bd;
  background-color: #ffffff;
  z-index: 9; }

#nav-low > li > ul > li a {
  display: block;
  padding: 13px 20px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none; }

#nav-low > li > ul > li a:hover {
  background: #def7ec; }

#nav-low > li > ul:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent #bcefd9 transparent;
  bottom: 100%;
  left: 55px; }

#nav-low > li > ul:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #ffffff transparent;
  bottom: 100%;
  left: 56px; }

#nav-low > li:hover > a {
  color: #5ad5a1;
  text-decoration: none; }

#nav-low > li:hover > a:after {
  right: 0; }

#nav-low > li:hover > a:before {
  left: 0; }

#nav-low > li:hover > ul {
  visibility: visible;
  z-index: 9; }

.openUl {
  position: absolute;
  width: 36px;
  height: 23px;
  left: 0;
  top: 5px; }

.openUl:after, .openUl:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  height: 3px;
  width: 18px;
  background: #5ad5a1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  top: 16px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.openUl:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 12px; }

.openUl:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0; }

.openUl.open:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.openUl.open:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#hamburger {
  display: none;
  position: fixed;
  z-index: 9999999999;
  top: 30px;
  right: 30px;
  width: 36px;
  height: 36px;
  border: 2px solid #5ad5a1;
  background: #fff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 28px;
  background: #5ad5a1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  opacity: 1;
  left: 2px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 9px; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 15px; }

#hamburger span:nth-child(4) {
  top: 21px; }

#hamburger.open {
  border-color: #fff; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger-low-wrap {
  display: none; }

#hamburger-low {
  display: inline-block;
  width: 36px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative; }

#hamburger-low:after, #hamburger-low:before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 18px;
  background: #5ad5a1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  top: 16px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger-low:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0; }

#hamburger-low:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 12px; }

#hamburger-low.open:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#hamburger-low.open:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

section {
  padding: 70px 0; }

.section__title {
  position: relative; }

.section__title h2 {
  color: #333333;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-family: 'geometria', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center; }

.section__title:after, .section__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.section__title:before {
  background-color: #dadada;
  width: 115px;
  height: 1px;
  bottom: 0; }

.section__title:after {
  background-color: #53c4f6;
  width: 44px;
  height: 3px;
  bottom: -1px; }

/*---=== section#about ===---*/
#about {
  padding: 70px 0 40px;
  background: -webkit-linear-gradient(120deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%), url("../img/bg-about.png") center;
  background: linear-gradient(-30deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%), url("../img/bg-about.png") center;
  background-size: cover; }

.about__title {
  margin-bottom: 41px; }

.about__title p {
  color: #fff;
  font-family: 'geometriabold', sans-serif;
  font-size: 35px;
  text-transform: uppercase; }

.about__list {
  list-style: none; }

.about__list li {
  width: 50%;
  float: left;
  padding: 0 20px 0 79px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 83px;
  position: relative;
  cursor: default; }

.about__list li:last-child {
  margin-bottom: 0; }

.icon-wrap {
  position: absolute;
  left: 0;
  top: -18px;
  width: 59px;
  height: 59px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.icon-wrap:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: -3px;
  top: 50%; }

.icon-wrap_dot7:before {
  left: 6px;
  top: 82%; }

.icon-wrap_dot6:before {
  left: 49%;
  top: 55px; }

.icon-wrap_dot5:before {
  left: 46px;
  top: 82%; }

.icon-wrap_dot3:before {
  left: 55px;
  top: 49%; }

.about__icon {
  fill: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.about__icon_stamp {
  width: 26px;
  height: 29px; }

.about__icon_ambulance {
  width: 32px;
  height: 25px; }

.about__icon_sheet {
  width: 23px;
  height: 25px; }

.about__icon_house {
  width: 27px;
  height: 24px; }

.about__icon_wallet {
  width: 27px;
  height: 27px; }

.about__list li:hover .icon-wrap {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }

.form-wrap {
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
  padding: 25px; }

.form__title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 26px; }

.form__title:after, .form__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.form__title:before {
  background-color: #dadada;
  width: 115px;
  height: 1px;
  bottom: 0; }

.form__title:after {
  background-color: #53c4f6;
  width: 44px;
  height: 3px;
  bottom: -1px; }

.form__title p {
  color: #333333;
  font-family: 'geometria', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center; }

.input-row {
  position: relative;
  margin-bottom: 20px; }

.input-row_margin0 {
  margin-bottom: 0; }

.input-row input {
  width: 100%;
  height: 42px;
  line-height: 42px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0 45px 0 16px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300; }

.input-row input::-webkit-input-placeholder {
  color: inherit; }

.input-row input::-moz-placeholder {
  color: inherit; }

.input-row input:-ms-input-placeholder {
  color: inherit; }

.input-row input:-moz-placeholder {
  color: inherit; }

.input-row .butn {
  width: 100%; }

.input-icon {
  position: relative; }

.input-icon:before {
  content: "";
  display: block;
  position: absolute; }

.input-icon_user:before {
  width: 16px;
  height: 17px;
  background: url("../img/svg/user.svg") no-repeat;
  right: 16px;
  top: 12px; }

.input-icon_phone:before {
  width: 19px;
  height: 18px;
  background: url("../img/svg/phone.svg") no-repeat;
  right: 15px;
  top: 12px; }

.jq-checkbox {
  position: absolute !important;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #cfcfcf;
  z-index: 9;
  background: #fff; }

.jq-checkbox:before {
  display: block;
  position: absolute;
  content: '✓';
  left: 2px;
  top: -3px;
  color: #5ad5a1;
  opacity: 0; }

.jq-checkbox.checked:before {
  opacity: 1; }

.form-hint {
  display: inline-block;
  padding: 0 0 0 23px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #848484;
  position: relative; }

.form-hint a {
  color: #5ad5a1;
  text-decoration: underline; }

.form-hint a:hover {
  text-decoration: none; }

/*---=== section#services ===---*/
.service {
  display: block;
  text-align: center;
  color: #333;
  padding: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.service__img {
  margin-bottom: 20px; }

.service__img img {
  max-width: 100%;
  max-height: 155px; }

.service__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px; }

.service__price {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px; }

.service__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px; }

.service .butn {
  width: 100%; }

.service:hover {
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 32px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff; }

.service:hover .butn {
  color: #ffffff;
  background-color: #8ce2bd; }

/*---=== section#why-we ===---*/
#why-we {
  background-color: #edf9fe; }

.why {
  height: 100px;
  text-align: center;
  display: inline-block; }

.why__icon-wrap {
  position: relative;
  display: inline-block;
  height: 120px; }

.why__icon-wrap:after {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 76px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  right: -25px;
  top: 10px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  z-index: 0; }

.why__icon-wrap span {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #53c4f6;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 3; }

.why__icon-wrap span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: inherit;
  height: 2px; }

.why__icon-wrap span.item1 {
  top: 13px;
  left: -12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.why__icon-wrap span.item1:before {
  width: 10px;
  -webkit-transform: rotate(-84deg);
      -ms-transform: rotate(-84deg);
          transform: rotate(-84deg); }

.why__icon-wrap span.item2 {
  top: 65px;
  left: 104%; }

.why__icon-wrap span.item2:before {
  width: 5px;
  left: 0;
  top: -3px; }

.why__icon-wrap span.item3 {
  top: 79%;
  left: 21px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.why__icon-wrap span.item3:before {
  width: 4px;
  left: 2px;
  top: -3px; }

.why__icon-wrap_star:after {
  right: 15px;
  top: 0; }

.why__icon-wrap_star span.item1 {
  top: 0;
  left: 100%; }

.why__icon-wrap_star span.item2 {
  top: 75px;
  left: -10px; }

.why__icon-wrap_star span.item3 {
  top: 75px;
  left: 100%; }

.why__icon-wrap_bag:after {
  right: -30px;
  top: 20px; }

.why__icon-wrap_bag span.item1 {
  top: 75px;
  left: -20px; }

.why__icon-wrap_bag span.item2 {
  top: 0;
  left: 100%; }

.why__icon-wrap_bag span.item3 {
  top: 0;
  left: -20px; }

.why__icon-wrap_clock:after {
  right: 25px;
  top: -10px; }

.why__icon-wrap_clock span.item1 {
  top: 75px;
  left: -20px; }

.why__icon-wrap_clock span.item2 {
  top: 45px;
  left: 110%; }

.why__icon-wrap_clock span.item3 {
  top: 0;
  left: -20px; }

.why__icon {
  display: inline-block;
  fill: #53c4f6;
  position: relative;
  z-index: 3; }

.why__icon_sheet-big {
  width: 71px;
  height: 80px; }

.why__icon_star {
  width: 66px;
  height: 93px; }

.why__icon_bag {
  width: 83px;
  height: 81px; }

.why__icon_clock {
  width: 87px;
  height: 84px; }

.why:hover .why__icon-wrap span {
  -webkit-transform: rotate(390deg);
      -ms-transform: rotate(390deg);
          transform: rotate(390deg); }

.why:hover .why__icon-wrap_sheet-big:after {
  right: 25px;
  top: -10px; }

.why:hover .why__icon-wrap_sheet-big span.item1 {
  left: 101%;
  top: 75px; }

.why:hover .why__icon-wrap_sheet-big span.item2 {
  top: 0;
  left: -15px; }

.why:hover .why__icon-wrap_sheet-big span.item3 {
  top: 0;
  left: 101%; }

.why:hover .why__icon-wrap_star:after {
  right: 25px;
  top: -10px; }

.why:hover .why__icon-wrap_star span.item1 {
  top: 75px;
  left: -20px; }

.why:hover .why__icon-wrap_star span.item2 {
  top: 45px;
  left: 110%; }

.why:hover .why__icon-wrap_star span.item3 {
  top: 0;
  left: -20px; }

.why:hover .why__icon-wrap_bag:after {
  right: 15px;
  top: 0; }

.why:hover .why__icon-wrap_bag span.item1 {
  top: 0;
  left: 100%; }

.why:hover .why__icon-wrap_bag span.item2 {
  top: 75px;
  left: -10px; }

.why:hover .why__icon-wrap_bag span.item3 {
  top: 75px;
  left: 100%; }

.why:hover .why__icon-wrap_clock:after {
  right: -15px;
  top: 20px; }

.why:hover .why__icon-wrap_clock span.item1 {
  top: 0;
  left: 100%; }

.why:hover .why__icon-wrap_clock span.item2 {
  top: 75px;
  left: -10px; }

.why:hover .why__icon-wrap_clock span.item3 {
  top: 75px;
  left: 100%; }

/*---=== section#conditions ===---*/
#conditions {
  padding-top: 10px;
  background-image: -webkit-linear-gradient(top, #edf9fe 137px, #fff 137px);
  background-image: linear-gradient(180deg, #edf9fe 137px, #fff 137px); }

.form-wrap_blue {
  background: -webkit-linear-gradient(120deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url("../img/bg-form-blue.png");
  background: linear-gradient(-30deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url("../img/bg-form-blue.png");
  background-size: cover;
  padding: 40px;
  margin-bottom: 69px; }

.input-row_large input {
  height: 50px;
  line-height: 50px; }

.input-row_large:before {
  top: 17px; }

.form__title_white {
  text-align: center; }

.form__title_white h2 {
  color: #ffffff;
  font-family: 'geometria', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

.form__title_white:after, .form__title_white:before {
  display: none; }

.form-hint_white {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px; }

.form-hint_white a {
  color: #fff; }

.conditions-img {
  display: block;
  position: relative;
  margin-bottom: 30px; }

.conditions-img img {
  width: 100%; }

.conditions-img span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  color: #333333;
  font-family: 'geometria', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.conditions-img:after, .conditions-img:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.conditions-img:before {
  background: #fff;
  opacity: 0.9; }

.conditions-img:after {
  border: 1px solid #d9dede; }

.conditions-img:hover span {
  opacity: 1; }

.conditions-img:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.conditions-img:hover:after {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px; }

.show-more-butn-holder {
  text-align: center; }

.show-more-butn-holder .butn {
  min-width: 265px; }

/* ---=== section#staff ===--- */
#staff {
  background-color: #edf9fe; }

.slider {
  padding: 0 59px;
  position: relative; }

.slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 59px;
  z-index: 10;
  font-size: 32px;
  line-height: 1; }

.slider .slick-arrow span {
  padding-top: 3px;
  position: absolute;
  width: 43px;
  height: 43px;
  background-color: #6ad9aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }

.slider .slick-arrow span:before {
  display: block;
  content: '\2329';
  position: absolute;
  height: 29px;
  top: 3px;
  left: 16px; }

.slider .slick-arrow:hover {
  opacity: 0.8; }

.slider .slick-arrow-right {
  right: 0; }

.slider .slick-arrow-right span:before {
  content: '\232A'; }

.slider .slick-arrow-left {
  left: 0; }

.staff {
  padding: 25px;
  background: #fff;
  margin: 0 15px;
  height: 100%; }

.staff__img {
  margin-bottom: 24px; }

.staff__img img {
  width: 100%; }

.staff__name {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px; }

.staff__experience, .staff__position {
  padding-left: 28px;
  position: relative;
  margin-bottom: 10px; }

.staff__experience:before, .staff__position:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.staff__position:before {
  background: url("../img/svg/med-bag-simple.svg");
  width: 18px;
  height: 18px; }

.staff__experience:before {
  background: url("../img/svg/clock-simple.svg");
  width: 18px;
  height: 18px; }

/* ---=== section#about-text===---*/
#about-text {
  padding-top: 10px;
  background-image: -webkit-linear-gradient(top, #edf9fe 137px, #fff 137px);
  background-image: linear-gradient(180deg, #edf9fe 137px, #fff 137px); }

.text p {
  margin-bottom: 22px; }

.about-text__img img {
  max-width: 100%; }

/*---=== #location ===---*/
#location {
  position: relative;
  padding: 0; }

.location__title {
  position: absolute;
  text-align: center;
  z-index: 99;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.location__title .section__title h2 {
  pointer-events: none; }

.nav-map-tab {
  list-style: none;
  display: inline-block;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
  font-size: 0; }

.nav-map-tab li {
  display: inline-block; }

.nav-map-tab li a {
  display: block;
  padding: 24px 15px 20px;
  min-width: 240px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.nav-map-tab li a:hover {
  color: #fff;
  -webkit-box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
          box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
  background-color: #5ad5a1;
  text-decoration: none; }

.nav-map-tab li.active a {
  color: #fff;
  -webkit-box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
          box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
  background-color: #5ad5a1; }

.nav-map-tab li:first-child a {
  -webkit-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px; }

.nav-map-tab li:last-child a {
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0; }

#map1,
#map2 {
  height: 600px; }

.iw_content p {
  display: block;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  padding-left: 30px; }

.iw_content p:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0; }

.iw_title {
  height: 14px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 15px; }

.iw_adress:before {
  width: 19px;
  height: 18px;
  background: url("../img/svg/house-simple.svg") no-repeat; }

.iw_phone:before {
  width: 16px;
  height: 16px;
  background: url("../img/svg/phone-blue.svg") no-repeat;
  left: 2px !important; }

.iw_mail:before {
  width: 17px;
  height: 14px;
  background: url("../img/svg/envelope.svg") no-repeat;
  left: 3px !important; }

#bodyContent p {
  display: block;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }

#bodyContent p:before {
  display: block;
  width: 10px;
  height: 10px;
  background: #000; }

.tab-content > .tab-pane {
  display: block !important;
  height: 0 !important;
  overflow: hidden !important; }

.tab-content > .active {
  display: block !important;
  height: auto !important; }

/*--=== inner page style ===---*/
.inner-main {
  padding: 30px 0 70px;
  background-color: #edf9fe; }

.sidebar__item {
  -webkit-box-shadow: 0 5px 43px rgba(82, 196, 246, 0.19);
          box-shadow: 0 5px 43px rgba(82, 196, 246, 0.19);
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px; }

.sidebar-menu {
  padding-bottom: 15px;
  padding-left: 0; }

.sidebar-menu ul {
  list-style: none; }

.sidebar-menu ul li {
  padding: 0 0 0 30px;
  border-left: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sidebar-menu ul li a {
  display: block;
  padding: 10px 0 11px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sidebar-menu ul li:hover {
  border-left: 3px solid #5ad5a1; }

.sidebar-menu ul li:hover a {
  color: #5ad5a1;
  text-decoration: none; }

.sidebar-slider {
  position: relative; }

.sidebar-slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: 30px;
  height: 30px;
  z-index: 10;
  font-size: 23px;
  line-height: 1;
  margin-top: 10px; }

.sidebar-slider .slick-arrow span {
  display: block;
  padding-top: 1px;
  width: 30px;
  height: 30px;
  background-color: #6ad9aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  text-align: center; }

.sidebar-slider .slick-arrow:hover {
  opacity: 0.8; }

.sidebar-slider .slick-arrow-right {
  right: 0; }

.sidebar-slider .slick-arrow-left {
  left: 0; }

.sidebar-slider__item {
  text-align: center; }

.sidebar-slider__item img {
  display: inline-block;
  max-width: 100%; }

.sidebar__slider-butn-holder {
  padding: 0 43px;
  text-align: center; }

.sidebar__slider-butn-holder .butn {
  width: 100%; }

.sidebar__item_banner {
  padding: 0; }

.sidebar__item_banner img {
  width: 100%; }

.bread-crumb {
  list-style: none;
  margin-bottom: 30px; }

.bread-crumb li {
  position: relative;
  margin: 0 10px 0 0;
  display: inline-block; }

.bread-crumb li a {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  text-decoration: underline;
  line-height: 1;
  display: block; }

.bread-crumb li a:hover {
  text-decoration: none; }

.bread-crumb li a.active {
  text-decoration: none;
  cursor: default;
  color: #999999; }

.bread-crumb li a.active:hover {
  text-decoration: none; }

.bread-crumb li + li {
  padding-left: 15px; }

.bread-crumb li + li:before {
  position: absolute;
  content: '»';
  left: 0;
  top: -4px; }

.text h2 {
  font-family: 'geometria', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 25px; }

.text h3 {
  font-family: 'geometria', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px; }

.text img {
  width: 100%;
  margin-bottom: 30px; }

.text p {
  margin-bottom: 25px; }

.text table {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  border-bottom: 1px solid #53c4f6; }

.text table td,
.text table th {
  padding: 20px 25px; }

.text table th {
  text-align: center; }

.text table tr:first-child th {
  background-color: #53c4f6;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase; }

.text table tr:nth-child(even) {
  background-color: #fff; }

.text table tr td:nth-child(2) {
  text-align: right;
  font-weight: 700; }

.text table a {
  display: inline-block;
  color: #5ad5a1;
  text-decoration: underline;
  margin-left: 5px;
  position: relative; }

.text table a ul {
  padding: 15px 15px 15px 25px;
  position: absolute;
  top: 100%;
  left: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  text-decoration: none;
  max-width: 345px;
  -webkit-box-shadow: 0 5px 43px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 43px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ffffff;
  z-index: 99;
  display: none; }

.text table a:hover {
  text-decoration: none; }

.text table a:hover ul {
  display: block; }

table.reverse-bg tr:nth-child(even) {
  background-color: transparent; }

table.reverse-bg tr:nth-child(odd) {
  background-color: #fff; }

.call-to-action {
  -webkit-box-shadow: 0 11px 51px rgba(0, 0, 0, 0.18);
          box-shadow: 0 11px 51px rgba(0, 0, 0, 0.18);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f1f1f1;
  background: -webkit-linear-gradient(120deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url(../img/bg-form-blue.png);
  background: linear-gradient(-30deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url(../img/bg-form-blue.png);
  background-size: cover;
  padding: 35px;
  text-align: center; }

.call-to-action h4 {
  color: #ffffff;
  font-family: 'geometria', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

.call-to-action h4 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: block;
  padding-top: 10px;
  margin-bottom: 30px; }

.call-to-action__phone {
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 30px;
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 27px; }

.call-to-action__phone a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  vertical-align: middle; }

.call-to-action__phone span {
  vertical-align: middle;
  margin-left: 10px; }

.call-to-action__butn-holder {
  color: #ffffff; }

.call-to-action__butn-holder span {
  display: block;
  margin-bottom: 18px; }

.call-to-action__butn-holder .butn {
  display: block;
  margin: 0 auto;
  max-width: 323px; }

/*---=== contacts ===---*/
.page-title h2 {
  font-family: 'geometria', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 35px; }

.contacts {
  margin-bottom: 30px; }

.map-wrap {
  margin-bottom: 35px; }

.contacts__item {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff;
  padding: 30px;
  text-align: center; }

.contacts__item a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  padding-left: 30px;
  position: relative; }

.contacts__item a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.contacts__item a:hover {
  text-decoration: none; }

.contacts__item a[href*='map']:before {
  background: url("../img/svg/tag.svg") no-repeat;
  width: 19px;
  height: 20px; }

.contacts__item a[href*='tel:']:before {
  background: url("../img/svg/phone0.svg") no-repeat;
  width: 19px;
  height: 20px; }

.contacts__item a[href*='tel:']:before {
  background: url("../img/svg/phone-blue.svg") no-repeat;
  width: 19px;
  height: 20px; }

.contacts__item a[href*='mailto']:before {
  background: url("../img/svg/house-simple.svg") no-repeat;
  width: 19px;
  height: 20px; }

.adresess {
  margin: 0 -15px;
  overflow: hidden;
  list-style: none; }

.adresess li {
  display: inline-table;
  float: left;
  padding: 0 15px;
  width: 33.3333333333%;
  margin-bottom: 30px; }

.adresess li a {
  display: table-cell;
  height: 65px;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  padding: 13px 25px;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  vertical-align: middle; }

.adresess li a:hover {
  background-color: #5ad5a1;
  color: #fff;
  text-decoration: none; }

footer .logo {
  margin-bottom: 24px; }

footer h4 {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px; }

.payments img {
  max-width: 100%; }

.footer__top {
  padding: 30px 0; }

.footer__contacts a {
  display: block;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative; }

.footer__contacts a[href*='map']:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 17px;
  height: 17px;
  background: url("../img/svg/house-simple.svg"); }

.footer__contacts a[href*='mailto']:before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: -2px;
  width: 17px;
  height: 17px;
  background: url("../img/svg/envelope.svg"); }

.footer__contacts p {
  margin-bottom: 15px; }

.footer__phone {
  padding-left: 65px; }

.footer__phone a[href*="tel"] {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  display: block;
  margin-bottom: 20px; }

.footer__phone .butn {
  width: 100%; }

.footer__bottom {
  padding: 18px 0 13px;
  background: #edf9fe; }

.lisence {
  padding-top: 4px;
  color: #8c9295;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.footer__socials {
  text-align: right; }

.footer__socials h4 {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  padding-right: 16px;
  margin-bottom: 14px; }

.footer__socials ul {
  list-style: none;
  display: inline-block; }

.footer__socials ul li {
  display: inline-block; }

.soc {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #53c4f6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  opacity: .6;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }

.soc:hover {
  opacity: 1; }

.soc:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite-soc.png"); }

.soc_vk:before {
  background-position: 0 -21px;
  width: 15px;
  height: 10px; }

.soc_fb:before {
  background-position: -55px 0;
  width: 8px;
  height: 15px; }

.soc_tw:before {
  background-position: -36px 0;
  width: 14px;
  height: 12px; }

.soc_ins:before {
  background-position: -18px 0;
  width: 13px;
  height: 13px; }

.soc_yt:before {
  background-position: 0 0;
  width: 13px;
  height: 16px; }

.modal-dialog_help {
  max-width: 350px; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.modal-dialog {
  margin-top: 70px !important;
  margin-left: auto;
  margin-right: auto; }

.close-x {
  top: -35px;
  right: -30px;
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.close-x:hover {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  top: 14px;
  left: 0px;
  background: #f9fef3; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
@media (max-width: 1199px) {
  .header__phone {
    padding-right: 0; }
  .header__phone a {
    font-size: 18px; } }

@media (max-width: 959px) {
  .nav-map-tab {
    max-width: 240px; } }

@media (min-width: 992px) {
  #nav,
  #nav-low {
    display: block !important; } }

@media (max-width: 991px) {
  #hamburger {
    display: block; }
  #nav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    background-image: -webkit-linear-gradient(120deg, rgba(67, 189, 218, 0.9) 0%, rgba(83, 196, 246, 0.9) 100%);
    background-image: linear-gradient(-30deg, rgba(67, 189, 218, 0.9) 0%, rgba(83, 196, 246, 0.9) 100%);
    padding-top: 70px; }
  #nav li {
    display: block;
    text-align: center; }
  #nav li a {
    font-size: 20px; }
  .header__middle {
    padding-top: 30px;
    padding-bottom: 0; }
  .header__middle .row [class*='col-'] {
    margin-bottom: 20px; }
  .header__middle .row [class*='col-']:nth-child(3) {
    clear: left; }
  .header__phone {
    text-align: center; }
  .header__bottom .container {
    position: relative; }
  #nav-low {
    display: none;
    position: absolute;
    border-top: none;
    background: #fff;
    z-index: 15;
    top: 100%;
    left: 15px;
    right: 15px;
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px; }
  #nav-low li {
    display: block;
    padding-left: 20px;
    padding-right: 20px; }
  #nav-low li > a {
    height: auto;
    line-height: 1.3;
    padding: 15px 0; }
  #nav-low li > ul {
    display: none;
    position: static;
    margin-left: 20px;
    visibility: visible;
    width: auto; }
  #nav-low li > ul:after, #nav-low li > ul:before {
    display: none; }
  #hamburger-low-wrap {
    display: block; }
  #hamburger-low-wrap p {
    display: inline-block; }
  #about {
    padding-top: 40px; }
  .about__list {
    margin-bottom: 40px; }
  .about__list li {
    margin-bottom: 63px; }
  #why-we .why {
    width: 100%; }
  #why-we .row [class*='col-'] {
    margin-bottom: 40px; }
  #why-we .row [class*='col-']:nth-child(odd) {
    clear: left; }
  .conditions-img span {
    font-size: 16px; }
  .footer__phone {
    padding-left: 15px;
    text-align: center; }
  .footer__phone .butn {
    max-width: 265px; }
  .footer__socials,
  .lisence {
    text-align: center; }
  .adresess li {
    width: 50%; }
  .contacts__item {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 864px) {
  .slogan {
    display: none; }
  .heder__logo {
    width: 100%;
    text-align: center;
    padding-right: 15px; }
  .header__phone {
    padding: 0 15px; } }

@media (max-width: 768px) {
  .call-to-action__phone a {
    display: block; } }

@media (max-width: 615px) {
  .footer__top {
    text-align: center; }
  .footer__top [class*='col-'] {
    width: 100%;
    margin-bottom: 16px; }
  .footer__contacts a {
    display: inline-block; }
  .adresess li {
    width: 100%; }
  .adresess li a {
    text-align: center; } }

@media (max-width: 540px) {
  .about__title p {
    font-size: 23px; }
  .about__list li {
    width: auto;
    float: none; }
  #services [class*='col-'] {
    width: 100%;
    float: none; }
  #services .butn {
    max-width: 265px; } }

@media (max-width: 444px) {
  #hamburger {
    right: 15px; }
  .header__middle .row [class*='col-'] {
    margin-bottom: 15px; }
  #conditions .row [class*='col-'] {
    width: 100%; }
  .section__title h2 {
    font-size: 27px; }
  .call-to-action__phone {
    padding: 20px; }
  .call-to-action__phone a {
    font-size: 21px; }
  .page-title h2 {
    font-size: 23px; }
  .close-x {
    right: 0px; } }

@media (max-width: 422px) {
  .header__middle .row [class*='col-'] {
    width: 100%; }
  .heder__logo {
    text-align: left; }
  .heder__logo img {
    max-width: 245px; }
  #why-we .row [class*='col-'] {
    margin-bottom: 50px;
    width: 100%; }
  .why p {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto; }
  .slider {
    padding: 0 21px; }
  .form__title_white h2 {
    font-size: 23px; } }
