main
    section#about
        .container
            .row
                .col-md-8
                    .about__title 
                        p Профессиональное лечение алкоголизма на дому и в клинике
                    ul.about__list.clearfix
                        li
                            .icon-wrap
                                svg.about__icon.about__icon_stamp(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', enable-background='new 0 0 30 30', xml:space='preserve')
                                    path(d='M28.3,25.1l-2.9-5c0.5-0.2,0.9-0.5,1.1-0.9l0,0l0,0c0.3-0.5,0.3-1,0.3-1.6l-0.4-1.8l0,0l1.2-1.3l0.1-0.1\
                                    c0.4-0.4,0.6-0.9,0.6-1.5c0-0.5-0.2-1.1-0.6-1.5l0,0l-1.3-1.4L26.7,8c0.1-0.6,0-1.1-0.3-1.6s-0.7-0.9-1.3-1l-1.8-0.5L22.8,3l0,0\
                                    c-0.2-0.6-0.5-1-1-1.3l0,0l0,0c-0.4-0.3-1-0.3-1.6-0.3l-1.8,0.4l0,0l-1.3-1.2L17,0.6C16.6,0.2,16.1,0,15.5,0C15,0,14.4,0.2,14,0.6\
                                    l-1.3,1.2l0,0l-1.8-0.4c-0.6-0.1-1.1,0-1.6,0.3c-0.5,0.3-0.9,0.7-1,1.3L7.7,4.7l0,0L5.9,5.3c-0.6,0.2-1,0.5-1.3,1\
                                    C4.3,6.8,4.2,7.4,4.3,8l0.4,1.8l-1.2,1.3l-0.1,0.1c-0.4,0.3-0.6,0.9-0.6,1.5c0,0.5,0.2,1.1,0.6,1.5l0,0l1.2,1.3l0,0l-0.4,1.8l0,0\
                                    c-0.1,0.6,0,1.1,0.3,1.6c0.3,0.4,0.6,0.8,1.1,0.9l-2.9,5c-0.2,0.3-0.1,0.8,0.3,0.9c0.1,0.1,0.3,0.1,0.3,0.1l0,0h4l1.9,3.4\
                                    c0.2,0.3,0.6,0.4,0.9,0.3c0.1-0.1,0.2-0.2,0.3-0.3l3-5.2l0.5,0.5c0.4,0.4,0.9,0.6,1.5,0.6c0.5,0,1.1-0.2,1.5-0.6l0.5-0.5l3,5.2\
                                    c0.1,0.1,0.2,0.2,0.3,0.3c0.3,0.2,0.8,0.1,0.9-0.3l2-3.4h4l0,0c0.1,0,0.3,0,0.3-0.1C28.3,25.7,28.5,25.3,28.3,25.1L28.3,25.1z\
                                    M9.8,27.7L9.8,27.7L8.4,25l0,0c-0.1-0.2-0.3-0.3-0.6-0.3H4.7l2.5-4.2l0.6,0.2l0.5,1.8l0,0c0.2,0.6,0.5,1,1,1.3s1,0.3,1.6,0.3\
                                    l1.5-0.3L9.8,27.7L9.8,27.7z M17.8,21.3L17.8,21.3c-0.3,0.1-0.6,0.3-0.9,0.5l-0.1,0.1l-1.3,1.2l-1.4-1.2l0,0\
                                    c-0.3-0.3-0.6-0.4-0.9-0.5l0,0l0,0c-0.3-0.1-0.7-0.1-1.1,0l-1.8,0.4l-0.5-1.7l0,0l0,0c-0.1-0.3-0.3-0.7-0.5-0.9\
                                    c-0.3-0.3-0.6-0.4-0.9-0.5l-1.7-0.5L7,16.3c0.1-0.3,0.1-0.8,0-1.1v-0.1c-0.1-0.3-0.3-0.6-0.5-0.9l-0.1-0.1l-1.2-1.3l0,0l1.2-1.3l0,0\
                                    c0.3-0.3,0.4-0.6,0.5-0.9l0,0l0,0C7,10.3,7,9.9,6.9,9.5l-0.3-2L8.3,7C8.6,6.9,9,6.6,9.2,6.5c0.3-0.3,0.4-0.6,0.5-0.9V5.4l0.5-1.7\
                                    l1.8,0.4c0.3,0.1,0.7,0.1,1.1,0l0,0c0.3-0.1,0.7-0.3,0.9-0.5l0.1-0.1l1.3-1.2l0,0l1.3,1.2l0,0c0.3,0.3,0.6,0.4,0.9,0.5\
                                    c0.3,0.1,0.7,0.1,1.1,0l0,0l1.7-0.4l0.5,1.7l0,0l0,0c0.3,0.7,0.8,1.3,1.5,1.5l1.7,0.5l-0.4,1.8l0,0c-0.1,0.3-0.1,0.8,0,1.1\
                                    c0.1,0.3,0.3,0.7,0.5,0.9l1.3,1.4l0,0l-1.2,1.3l0,0c-0.3,0.3-0.4,0.6-0.5,0.9v0.1c-0.1,0.3-0.1,0.7,0,1l0,0l0.4,1.7l-1.7,0.5\
                                    c-0.3,0.1-0.7,0.3-0.9,0.5c-0.3,0.3-0.4,0.6-0.5,0.9v0.1l-0.5,1.7L18.9,21c-0.3-0.1-0.7-0.1-1.1,0L17.8,21.3L17.8,21.3z M23.4,24.6\
                                    L23.4,24.6c-0.3,0-0.5,0.2-0.6,0.3l0,0l-1.5,2.8l-2.4-4.1l1.4,0.3l0,0c0.5,0.1,1.1,0,1.5-0.2l0.1-0.1c0.4-0.3,0.8-0.7,1-1.2v-0.1\
                                    l0.5-1.7l0,0l0.6-0.2l2.4,4.2L23.4,24.6L23.4,24.6z M19.8,17L19.8,17c1.1-1.1,1.8-2.7,1.8-4.3s-0.7-3.2-1.8-4.3\
                                    c-1.1-1.1-2.7-1.8-4.3-1.8c-1.7,0-3.2,0.7-4.3,1.8S9.4,11,9.4,12.7s0.7,3.2,1.7,4.3l0,0c1.1,1.1,2.7,1.8,4.3,1.8\
                                    C17.2,18.8,18.7,18.1,19.8,17L19.8,17z M18.9,16L18.9,16L18.9,16c-0.9,0.9-2.1,1.4-3.4,1.4S13,16.9,12.2,16l0,0\
                                    c-0.9-0.9-1.4-2-1.4-3.3s0.5-2.5,1.4-3.4S14.2,8,15.5,8s2.5,0.5,3.4,1.4s1.4,2.1,1.4,3.4C20.3,14,19.7,15.2,18.9,16L18.9,16L18.9,16\
                                    z')
                            |Опытный персонал
                        li
                            .icon-wrap.icon-wrap_dot7
                                svg.about__icon.about__icon_sheet(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34.9 34.6', enable-background='new 0 0 34.9 34.6', xml:space='preserve')
                                    path(d='M25.2,24.9H9.7c-0.4,0-0.8,0.4-0.8,0.8c0,0.4,0.4,0.8,0.8,0.8h15.5c0.4,0,0.8-0.4,0.8-0.8C26,25.2,25.6,24.9,25.2,24.9\
                                    L25.2,24.9z M32.2,10L32.2,10l-9.6-9.6C22.3,0.2,22,0,21.6,0H5.9c-1,0-1.9,0.4-2.5,1c-0.6,0.6-1,1.5-1,2.5V31c0,1,0.4,1.9,1,2.5v0v0\
                                    c0.7,0.6,1.5,1,2.5,1H29c1,0,1.8-0.4,2.5-1l0,0l0,0c0.6-0.6,1-1.5,1-2.5V11C32.6,10.6,32.4,10.3,32.2,10L32.2,10z M22.4,4L22.4,4\
                                    l6.1,6.1h-4.7c-0.4,0-0.8-0.2-1-0.4l0,0c-0.2-0.3-0.4-0.6-0.4-1V4L22.4,4z M29.9,31L29.9,31c0,0.2-0.1,0.5-0.3,0.6l0,0\
                                    c-0.2,0.2-0.4,0.3-0.6,0.3H5.9c-0.3,0-0.5-0.1-0.6-0.3l0,0C5.1,31.5,5,31.3,5,31V3.6C5,3.3,5.1,3.1,5.3,3c0.2-0.2,0.4-0.3,0.6-0.3\
                                    h14.9v6.1c0,0.8,0.3,1.5,0.8,2.1l0,0c0.5,0.6,1.3,0.9,2.1,0.9h6.1V31L29.9,31z M8.9,14.4L8.9,14.4c0,0.4,0.4,0.8,0.8,0.8h15.5\
                                    c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8H9.7C9.3,13.7,8.9,14,8.9,14.4L8.9,14.4z M25.2,19.3L25.2,19.3H9.7\
                                    c-0.4,0-0.8,0.3-0.8,0.8c0,0.4,0.4,0.8,0.8,0.8h15.5c0.4,0,0.8-0.4,0.8-0.8C26,19.6,25.6,19.3,25.2,19.3L25.2,19.3z')
                            | Медицинская лицензия
                        li
                            .icon-wrap.icon-wrap_dot6
                                svg.about__icon.about__icon_ambulance(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34.9 34.6', enable-background='new 0 0 34.9 34.6', xml:space='preserve')
                                    path(d='M1.5,6.6L1.5,6.6h17.4V3.9c0-0.4,0.3-0.8,0.8-0.8h0h3.3c0.5,0,0.8,0.4,0.8,0.8v0v2.6h7.3c0.7,0,1.2,0.5,1.3,1.2l2.2,11.6\
                                    c0,0.1,0,0.2,0,0.2l0,0v7.2c0,0.7-0.6,1.3-1.3,1.3h0h-1.8c-0.3,0.8-0.9,1.5-1.5,2.1v0c-0.9,0.8-2.2,1.3-3.5,1.3s-2.5-0.5-3.5-1.3\
                                    c-0.7-0.6-1.2-1.3-1.5-2.1h-4.2h-5.1c-0.3,0.8-0.9,1.5-1.5,2.1v0c-0.9,0.8-2.1,1.3-3.5,1.3c-1.3,0-2.5-0.5-3.5-1.3\
                                    c-0.7-0.6-1.2-1.3-1.5-2.1H1.5c-0.7,0-1.3-0.6-1.3-1.3v0v-9.4V7.9C0.2,7.2,0.8,6.6,1.5,6.6L1.5,6.6z M32.1,21.3L32.1,21.3H2.8v4.1\
                                    h0.6v0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7,0.5,1.2,0.9,1.6c0.5,0.4,1.1,0.6,1.8,0.6c0.7,0,1.3-0.2,1.8-0.6l0,0l0,0\
                                    c0.5-0.4,0.8-0.9,0.9-1.6c0.1-0.7,0.6-1.2,1.3-1.2h6.1h5.2v0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7,0.5,1.2,0.9,1.6\
                                    c0.5,0.4,1.1,0.6,1.8,0.6c0.7,0,1.3-0.2,1.8-0.6l0,0l0,0c0.5-0.4,0.8-0.9,0.9-1.6c0.1-0.7,0.6-1.2,1.3-1.2h1.5V21.3L32.1,21.3z\
                                    M2.8,19.8L2.8,19.8h29.2v-0.1l-0.2-1h-8.8c-0.4,0-0.8-0.4-0.8-0.8V9.2H2.8v8.1V19.8L2.8,19.8z M12.6,11.3L12.6,11.3v1.4L11.3,12\
                                    c-0.4-0.2-0.9-0.1-1.1,0.3c-0.2,0.4-0.1,0.9,0.3,1.1l1.2,0.7l-1.2,0.7c-0.4,0.2-0.5,0.7-0.3,1.1c0.2,0.4,0.7,0.5,1.1,0.3l1.2-0.7\
                                    v1.4c0,0.4,0.4,0.8,0.8,0.8c0.4,0,0.8-0.4,0.8-0.8v-1.4l1.2,0.7c0.4,0.2,0.9,0.1,1.1-0.3c0.2-0.4,0.1-0.9-0.3-1.1L15,14.1l1.2-0.7\
                                    c0.4-0.2,0.5-0.7,0.3-1.1c-0.2-0.4-0.7-0.5-1.1-0.3l-1.2,0.7v-1.4c0-0.4-0.4-0.8-0.8-0.8C12.9,10.5,12.6,10.8,12.6,11.3L12.6,11.3z\
                                    M20.5,6.6L20.5,6.6h1.8V4.7h-1.8V6.6L20.5,6.6z M23.9,9.2L23.9,9.2v7.9h7.7l-1.5-7.9H23.9L23.9,9.2z M26.6,24.7L26.6,24.7\
                                    c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4s1.4-0.6,1.4-1.4C28,25.3,27.4,24.7,26.6,24.7L26.6,24.7z M7.4,24.7L7.4,24.7\
                                    c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C8.8,25.3,8.2,24.7,7.4,24.7L7.4,24.7z')
                            |Моментальный выезд
                        li
                            .icon-wrap.icon-wrap_dot5
                                svg.about__icon.about__icon_house(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34.9 34.6', enable-background='new 0 0 34.9 34.6', xml:space='preserve')
                                    path(d='M25.3,8.1h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8C24.5,7.8,24.9,8.1,25.3,8.1\
                                    L25.3,8.1z M25.3,14.4L25.3,14.4h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8\
                                    C24.5,14.1,24.9,14.4,25.3,14.4L25.3,14.4z M5.2,20.8L5.2,20.8h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8H5.2\
                                    c-0.4,0-0.8,0.4-0.8,0.8C4.4,20.4,4.7,20.8,5.2,20.8L5.2,20.8z M25.3,20.8L25.3,20.8h4.4c0.4,0,0.8-0.4,0.8-0.8\
                                    c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8C24.5,20.4,24.9,20.8,25.3,20.8L25.3,20.8z M17.1,27.1L17.1,27.1h4.4\
                                    c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8C16.3,26.8,16.7,27.1,17.1,27.1L17.1,27.1z M33.1,0.1\
                                    L33.1,0.1H13.7c-0.7,0-1.3,0.6-1.3,1.3v11.6H1.8c-0.7,0-1.3,0.6-1.3,1.3v18.8c0,0.7,0.6,1.3,1.3,1.3h31.2c0.7,0,1.3-0.6,1.3-1.3V1.4\
                                    C34.4,0.7,33.8,0.1,33.1,0.1L33.1,0.1z M12.4,31.9L12.4,31.9H3.2V15.7h9.3V31.9L12.4,31.9z M31.8,31.9L31.8,31.9H15V2.7h16.7V31.9\
                                    L31.8,31.9z M25.3,27.1L25.3,27.1h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8\
                                    C24.5,26.8,24.9,27.1,25.3,27.1L25.3,27.1z M17.1,20.8L17.1,20.8h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4\
                                    c-0.4,0-0.8,0.4-0.8,0.8C16.3,20.4,16.7,20.8,17.1,20.8L17.1,20.8z M17.1,14.4L17.1,14.4h4.4c0.4,0,0.8-0.4,0.8-0.8\
                                    c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8C16.3,14.1,16.7,14.4,17.1,14.4L17.1,14.4z M17.1,8.1L17.1,8.1h4.4\
                                    c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8h-4.4c-0.4,0-0.8,0.4-0.8,0.8C16.3,7.8,16.7,8.1,17.1,8.1L17.1,8.1z M5.2,27.1\
                                    L5.2,27.1h4.4c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8H5.2c-0.4,0-0.8,0.4-0.8,0.8C4.4,26.8,4.7,27.1,5.2,27.1L5.2,27.1z')
                            | Собственная клиника
                        li
                            .icon-wrap.icon-wrap_dot3
                                svg.about__icon.about__icon_wallet(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34.9 34.6', enable-background='new 0 0 34.9 34.6', xml:space='preserve')
                                    path(d='M33.3,7.9L33.3,7.9c-0.9-0.9-2.1-1.4-3.3-1.4h-1.1c0-0.2,0-0.3-0.1-0.4l-3.3-5.7C25.2,0,24.7-0.2,24.3,0v0L16.9,4l-6.7-3.9\
                                    l0,0C9.7-0.2,9.3,0,9,0.3L5.7,6.1C5.6,6.2,5.6,6.4,5.6,6.5H5C3.7,6.5,2.5,7,1.7,7.9l0,0c-0.9,0.9-1.4,2-1.4,3.3V30\
                                    c0,1.3,0.5,2.4,1.4,3.3l0,0l0,0c0.9,0.8,2,1.4,3.3,1.4h24.9c1.3,0,2.5-0.5,3.3-1.4c0.8-0.9,1.4-2,1.4-3.3V11.2\
                                    C34.6,9.9,34.1,8.8,33.3,7.9L33.3,7.9z M24.4,1.8L24.4,1.8l2.7,4.7h-5.8l-2.8-1.6L24.4,1.8L24.4,1.8z M10,1.8L10,1.8\
                                    c2.7,1.6,5.4,3.1,8.2,4.7H7.3L10,1.8L10,1.8z M32,24.9L32,24.9H22c-0.1,0-0.3-0.1-0.4-0.2v0c-0.1-0.1-0.2-0.2-0.2-0.4v-7.6\
                                    c0-0.1,0.1-0.3,0.2-0.4l0,0c0.1-0.1,0.2-0.2,0.4-0.2h10V24.9L32,24.9z M32,14.7L32,14.7H22c-0.6,0-1.1,0.2-1.5,0.6l0,0\
                                    c-0.4,0.4-0.6,0.9-0.6,1.5v7.6c0,0.6,0.2,1.1,0.6,1.5l0,0c0.4,0.4,0.9,0.6,1.5,0.6h10V30c0,0.6-0.2,1.1-0.6,1.5\
                                    C31,31.8,30.5,32,29.9,32H5c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5V11.2c0-0.6,0.2-1.1,0.6-1.5l0,0C3.9,9.4,4.4,9.1,5,9.1\
                                    h24.9c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5V14.7L32,14.7z M24.5,23L24.5,23L24.5,23c0.6,0.6,1.4,1,2.4,1\
                                    c0.9,0,1.8-0.4,2.4-1c0.6-0.6,1-1.4,1-2.4c0-0.9-0.4-1.7-0.9-2.3l0-0.1c-0.6-0.6-1.4-1-2.4-1c-0.9,0-1.7,0.4-2.3,0.9l-0.1,0\
                                    c-0.6,0.6-1,1.4-1,2.4C23.6,21.5,23.9,22.4,24.5,23L24.5,23L24.5,23z M25.6,19.4L25.6,19.4L25.6,19.4c0.4-0.3,0.8-0.5,1.3-0.5\
                                    c0.5,0,0.9,0.2,1.2,0.5l0,0c0.3,0.3,0.5,0.7,0.5,1.2c0,0.5-0.2,0.9-0.5,1.2s-0.8,0.5-1.2,0.5s-0.9-0.2-1.3-0.5l0,0\
                                    c-0.3-0.3-0.5-0.8-0.5-1.2C25.1,20.1,25.3,19.7,25.6,19.4L25.6,19.4z')
                            | Недорогие цены
                .col-md-4
                    .form-wrap
                        .form__title
                            p Закажите бесплатную консультацию
                        form#order1(method='POST', onsubmit='return false')
                            .input-row.input-icon.input-icon_user
                                input(type='text', name='name', placeholder='Ваше имя')
                            .input-row.input-icon.input-icon_phone
                                input(type='tel', name='tel', data-mask='+7 (000) 000-00-00', placeholder='Ваш телефон')
                            .input-row
                                button.butn(type='submit', data-rel='order1')
                                    | Записаться
                            .input-row
                                input(type='checkbox' name='agree' style='display: none;')
                                .form-hint Нажимая кнопку "Записаться" Вы соглашаетесь с 
                                    a(href="#") условиями работы сайта
    section#services
        .container
            .section__title
                h2 Основные услуги
            .row
                .col-xs-6.col-md-3
                    a.service(href="#")
                        .service__img
                            img(src='img/img-serv1.png' alt='')
                        .service__title Вывод из запоя
                        .service__price От 5 000 руб.
                        .service__description Интенсивная детоксикация на дому. Диагностика, подбор лекарств, 1-2 или 3 капельницы.
                        .butn.butn_white Заказать
                .col-xs-6.col-md-3
                    a.service(href="#")
                        .service__img
                            img(src='img/img-serv2.png' alt='')
                        .service__title Кодирование
                        .service__price От 3 500 руб.
                        .service__description Популярный метод избавления от алкогольной зависимости. Используются самые эффективные препараты.
                        .butn.butn_white Заказать
                .col-xs-6.col-md-3
                    a.service(href="#")
                        .service__img
                            img(src='img/img-serv3.png' alt='')
                        .service__title Стационар
                        .service__price От 4 500 руб.
                        .service__description Избавление от тяги к алкоголю в клинике. Проживание, питание, медицинские процедуры.
                        .butn.butn_white Заказать
                .col-xs-6.col-md-3
                    a.service(href="#")
                        .service__img
                            img(src='img/img-serv1.png' alt='')
                        .service__title Реабилитация
                        .service__price От 30 000 руб.
                        .service__description Комплексное лечение нацеленное на долгосрочный результат. Био-Психо-Социо-Духовное восстановление.
                        .butn.butn_white Заказать
    section#why-we
        .container
            .section__title
                h2 Почему нам доверяют
            .row
                .col-xs-6.col-md-3
                    .why
                        .why__icon-wrap.why__icon-wrap_sheet-big
                            svg.why__icon.why__icon_sheet-big(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
                                path(d='M23,41.3c-0.5,0-0.8-0.4-0.8-0.8c0-0.5,0.4-0.8,0.8-0.8h54c0.5,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8H23z M77,60.4\
                                c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8H23c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8H77z M77,69.9c0.5,0,0.8-0.4,0.8-0.8\
                                c0-0.5-0.4-0.8-0.8-0.8H23c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8H77z M77,79.5c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8\
                                H23c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8H77z M77,50.8c0.5,0,0.8-0.4,0.8-0.8s-0.4-0.8-0.8-0.8H23c-0.5,0-0.8,0.4-0.8,0.8\
                                s0.4,0.8,0.8,0.8H77z M48.4,30.1c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8H23c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8\
                                H48.4z M88.1,100.2c3.1,0,5.6-2.5,5.6-5.6V22.9c0-0.2-0.1-0.4-0.2-0.6L71.2,0.1c-0.2-0.2-0.4-0.2-0.6-0.2H11.9\
                                c-3.1,0-5.6,2.5-5.6,5.6v89.1c0,3.1,2.5,5.6,5.6,5.6H88.1z M69.8,1.5v21.5c0,0.5,0.4,0.8,0.8,0.8H92v70.8c0,2.2-1.8,3.9-3.9,3.9\
                                H11.9c-2.2,0-3.9-1.8-3.9-3.9V5.4c0-2.2,1.8-3.9,3.9-3.9H69.8z M71.5,2.7l19.4,19.4H71.5V2.7z')
                            span.item1
                            span.item2
                            span.item3
                        p Все допуски, лицензии и сертификаты на деятельность
                .col-xs-6.col-md-3
                    .why
                        .why__icon-wrap.why__icon-wrap_star
                            svg.why__icon.why__icon_star(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='17 0 66 102', enable-background='new 0 0 100 100', xml:space='preserve')
                                path(d='M69,99.8c-0.5,0-1-0.2-1.4-0.5L50,86.2L32.4,99.4c-0.4,0.3-0.9,0.5-1.4,0.5c-0.4,0-0.7-0.1-1.1-0.3\
                                c-0.8-0.4-1.3-1.2-1.3-2.1V60.6l-0.3-0.2C20.5,53.9,16,44.3,16,34.2c0-18.8,15.3-34,34-34s34,15.3,34,34c0,10.2-4.5,19.7-12.4,26.2\
                                l-0.3,0.2v36.8c0,0.9-0.5,1.7-1.3,2.1C69.7,99.7,69.4,99.8,69,99.8z M68.6,62.7c-1,0.7-2,1.2-3.1,1.8L65,64.7v30.8l4.7,3.6V61.9\
                                L68.6,62.7z M30.2,99l4.7-3.6V64.7l-0.4-0.2c-1.1-0.5-2.1-1.1-3.1-1.8l-1.2-0.8V99z M63.4,94.3V65.4l-1.1,0.4\
                                c-4,1.6-8.1,2.3-12.4,2.3s-8.4-0.8-12.4-2.3l-1.1-0.4v28.9L50,84.2L63.4,94.3z M50,1.8c-17.9,0-32.4,14.5-32.4,32.4\
                                S32.1,66.6,50,66.6s32.4-14.5,32.4-32.4S67.9,1.8,50,1.8z M50,61.9c-15.3,0-27.7-12.4-27.7-27.7S34.7,6.5,50,6.5\
                                s27.7,12.4,27.7,27.7S65.3,61.9,50,61.9z M50,8.1c-14.4,0-26.1,11.7-26.1,26.1S35.6,60.3,50,60.3s26.1-11.7,26.1-26.1\
                                S64.4,8.1,50,8.1z M56.8,46c-0.1,0-0.3,0-0.4-0.1L50,42.4l-6.5,3.6C43.4,46,43.3,46,43.2,46c-0.2,0-0.3,0-0.5-0.1\
                                c-0.2-0.2-0.4-0.5-0.3-0.8l1.2-7.6l-5.3-5.4c-0.2-0.2-0.3-0.5-0.2-0.8c0.1-0.3,0.3-0.5,0.6-0.5l7.2-1.1l3.2-6.9\
                                c0.1-0.3,0.4-0.5,0.7-0.5s0.6,0.2,0.7,0.5l3.2,6.9l7.2,1.1c0.3,0,0.5,0.2,0.6,0.5c0.1,0.3,0,0.6-0.2,0.8l-5.3,5.4l1.2,7.6\
                                c0,0.3-0.1,0.6-0.3,0.8C57.2,46,57,46,56.8,46z M50,40.7c0.1,0,0.3,0,0.4,0.1l5.4,3l-1-6.4c0-0.2,0-0.5,0.2-0.7l4.5-4.6l-6.1-0.9\
                                c-0.3,0-0.5-0.2-0.6-0.4L50,25l-2.7,5.8c-0.1,0.2-0.3,0.4-0.6,0.4l-6.1,0.9l4.5,4.6c0.2,0.2,0.3,0.4,0.2,0.7l-1,6.4l5.4-3\
                                C49.7,40.7,49.9,40.7,50,40.7z')
                            span.item1
                            span.item2
                            span.item3
                        p Гарантия на качественное лечение.
                .col-xs-6.col-md-3
                    .why
                        .why__icon-wrap.why__icon-wrap_bag
                            svg.why__icon.why__icon_bag(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
                                path(d='M5.6,99.9c-3.1,0-5.5-2.5-5.5-5.5V26.2c0-3.1,2.5-5.5,5.5-5.5h19.8V5.6c0-3.1,2.5-5.5,5.5-5.5h38c3.1,0,5.5,2.5,5.5,5.5\
                                v15.1h19.8c3.1,0,5.5,2.5,5.5,5.5v68.1c0,3.1-2.5,5.5-5.5,5.5H5.6z M87.2,98.3h7.1c2.2,0,4-1.8,4-4V26.2c0-2.2-1.8-4-4-4h-7.1V98.3z\
                                M14.3,98.3h71.3V22.3H14.3V98.3z M5.6,22.3c-2.2,0-4,1.8-4,4v68.1c0,2.2,1.8,4,4,4h7.1V22.3H5.6z M67.4,6.4c0.4,0,0.8,0.4,0.8,0.8\
                                v13.5H73V5.6c0-2.2-1.8-4-4-4H31c-2.2,0-4,1.8-4,4v15.1h4.8V7.2c0-0.4,0.4-0.8,0.8-0.8H67.4z M33.4,20.7h33.3V8H33.4V20.7z\
                                M45.2,80.9c-0.4,0-0.8-0.4-0.8-0.8V68.2H32.6c-0.4,0-0.8-0.4-0.8-0.8v-9.5c0-0.4,0.4-0.8,0.8-0.8h11.9V45.2c0-0.4,0.4-0.8,0.8-0.8\
                                h9.5c0.4,0,0.8,0.4,0.8,0.8v11.9h11.9c0.4,0,0.8,0.4,0.8,0.8v9.5c0,0.4-0.4,0.8-0.8,0.8H55.5v11.9c0,0.4-0.4,0.8-0.8,0.8H45.2z\
                                M46,79.3H54V66.6h12.7v-7.9H54V46H46v12.7H33.4v7.9H46V79.3z')
                            span.item1
                            span.item2
                            span.item3
                        p Опытные врачи: наркологи, психиатры, реаниматологи, консультанты по хим. зависимости
                .col-xs-6.col-md-3
                    .why
                        .why__icon-wrap.why__icon-wrap_clock
                            svg.why__icon.why__icon_clock(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
                                path( d='M50,99.8C22.6,99.8,0.3,77.4,0.3,50S22.6,0.3,50,0.3S99.8,22.6,99.8,50S77.4,99.8,50,99.8z M50,1.8\
                                C23.4,1.8,1.8,23.4,1.8,50S23.4,98.2,50,98.2S98.2,76.6,98.2,50S76.6,1.8,50,1.8z M50,51.6c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6\
                                s1.6,0.7,1.6,1.6S50.9,51.6,50,51.6z M50.8,50c0-0.4-0.4-0.8-0.8-0.8s-0.8,0.4-0.8,0.8s0.4,0.8,0.8,0.8S50.8,50.4,50.8,50z\
                                M67.9,71.8c-1.1,0-2-0.4-2.8-1.2L51.4,57L51,57c-0.4,0.1-0.7,0.1-1,0.1c-3.9,0-7.1-3.2-7.1-7.1c0-2.2,1-4.3,2.8-5.7l0.3-0.2V21.6\
                                c0-2.2,1.8-3.9,3.9-3.9s3.9,1.8,3.9,3.9v22.5l0.3,0.2c1.8,1.4,2.8,3.4,2.8,5.7c0,0.3,0,0.5-0.1,0.8L57,51.2l0.3,0.4l13.4,13.4\
                                c0.7,0.7,1.2,1.7,1.2,2.8c0,1.1-0.4,2-1.2,2.8C69.9,71.4,68.9,71.8,67.9,71.8L67.9,71.8z M55.9,53.9c-0.5,0.8-1.2,1.5-2,2l-0.8,0.5\
                                l13.1,13.1c0.4,0.4,1,0.7,1.7,0.7c0.6,0,1.2-0.2,1.7-0.7c0.4-0.4,0.7-1,0.7-1.7c0-0.6-0.2-1.2-0.7-1.7L56.5,53.1L55.9,53.9z\
                                M50,44.5c-3,0-5.5,2.5-5.5,5.5s2.5,5.5,5.5,5.5s5.5-2.5,5.5-5.5S53,44.5,50,44.5z M50,42.9c0.5,0,1,0.1,1.4,0.1l0.9,0.2V21.6\
                                c0-1.3-1.1-2.4-2.4-2.4s-2.4,1.1-2.4,2.4v21.7l0.9-0.2C49,42.9,49.5,42.9,50,42.9z M50,93.4C26.1,93.4,6.6,73.9,6.6,50\
                                S26.1,6.6,50,6.6S93.4,26.1,93.4,50S73.9,93.4,50,93.4z M50,85.5c0.4,0,0.8,0.4,0.8,0.8l0,5.5l0.8,0c10-0.4,19.5-4.3,26.8-11.1\
                                l0.6-0.6l-3.9-3.9c-0.3-0.3-0.3-0.8,0-1.1c0.1-0.1,0.3-0.2,0.6-0.2l0,0c0.2,0,0.4,0.1,0.6,0.2l3.9,3.9l0.6-0.6\
                                c6.8-7.3,10.7-16.8,11.1-26.8l0-0.8h-5.5c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h5.5l0-0.8c-0.4-10-4.3-19.5-11.1-26.8L80.1,21\
                                l-3.9,3.9c-0.1,0.1-0.3,0.2-0.6,0.2c-0.2,0-0.4-0.1-0.6-0.2c-0.1-0.1-0.2-0.3-0.2-0.6c0-0.2,0.1-0.4,0.2-0.6l3.9-3.9l-0.6-0.6\
                                C71.1,12.5,61.6,8.6,51.6,8.2l-0.8,0v5.5c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8V8.2l-0.8,0c-10,0.4-19.5,4.3-26.8,11.1\
                                L21,19.9l3.9,3.9c0.3,0.3,0.3,0.8,0,1.1c-0.1,0.1-0.3,0.2-0.6,0.2s-0.4-0.1-0.6-0.2L19.9,21l-0.6,0.6C12.5,28.9,8.6,38.4,8.2,48.4\
                                l0,0.8h5.5c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8H8.2l0,0.8c0.4,10,4.3,19.5,11.1,26.8l0.6,0.6l3.9-3.9\
                                c0.1-0.1,0.3-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.2c0.3,0.3,0.3,0.8,0,1.1L21,80.1l0.6,0.6c7.3,6.8,16.8,10.7,26.8,11.1l0.8,0l0-5.5\
                                C49.2,85.9,49.6,85.5,50,85.5z')
                            span.item1
                            span.item2
                            span.item3
                        p Круглосуточное дежурство врачей по всем районам города
    section#conditions
        .container
            .form-wrap.form-wrap_blue
                .form__title.form__title_white
                    h2 Заявка на консультацию
                form#order2(method='POST', onsubmit='return false')
                    .row
                        .col-md-4
                            .input-row.input-row_large.input-icon.input-icon_user
                                input(type='text', name='name', placeholder='Ваше имя')
                        .col-md-4
                            .input-row.input-row_large.input-icon.input-icon_phone
                                input(type='tel', name='tel',  data-mask='+7 (000) 000-00-00', placeholder='Ваш телефон')
                        .col-md-4
                            .input-row.input-btn
                                button.butn.butn_tada(type='submit', data-rel='order2')
                                    | Получить помощь
                            .input-row.input-row_margin0
                                input(type='checkbox' name='agree' style='display: none;')
                                .form-hint.form-hint_white Нажимая кнопку "Получить помощь" Вы соглашаетесь с 
                                    a(href="#") условиями работы сайта
            .section__title 
                h2 Условия стационара
            .row
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions1.png" )
                        img(src='img/img-conditions1.png' alt='')
                        span палата №6
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions2.png" )
                        img(src='img/img-conditions2.png' alt='')
                        span палата №6
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions3.png" )
                        img(src='img/img-conditions3.png' alt='')
                        span палата №6
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions4.png")
                        img(src='img/img-conditions4.png' alt='')
                        span палата №6
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions5.png" )
                        img(src='img/img-conditions5.png' alt='')
                        span палата №6
                .col-xs-6.col-md-4
                    a.conditions-img(data-fancybox="gallery" href="img/img-conditions6.png")
                        img(src='img/img-conditions6.png' alt='')
                        span палата №6
            .show-more-butn-holder
                a.butn(href='#') Смотреть все
    section#staff
        .container
            .section__title
                h2 Наш персонал
            .slider
                .slider__item
                    .staff
                        .staff__img
                            img(src='img/img-staff1.png' alt='')
                        .staff__name Александр Невский
                        .staff__position Главный врач клиники, психиатр-нарколог
                        .staff__experience Cтаж 23 года
                .slider__item
                    .staff
                        .staff__img
                            img(src='img/img-staff2.png' alt='')
                        .staff__name Татьяна Лазарева
                        .staff__position Помощник главного врача, кардиолог  
                        .staff__experience Cтаж 15 лет 
                .slider__item
                    .staff
                        .staff__img
                            img(src='img/img-staff3.png' alt='')
                        .staff__name Владимир Горячев
                        .staff__position Главный провизор клиники, психолог Главный провизор клиники, психолог
                        .staff__experience Cтаж 7 лет
                .slider__item
                    .staff
                        .staff__img
                            img(src='img/img-staff2.png' alt='')
                        .staff__name Татьяна Лазарева
                        .staff__position Помощник главного врача, кардиолог  
                        .staff__experience Cтаж 15 лет
    section#about-text
        .container
            .form-wrap.form-wrap_blue
                .form__title.form__title_white
                    h2 Заявка на консультацию
                form#order3(method='POST', onsubmit='return false')
                    .row
                        .col-md-4
                            .input-row.input-row_large.input-icon_user.input-icon
                                input(type='text', name='name', placeholder='Ваше имя')
                        .col-md-4
                            .input-row.input-row_large.input-icon_phone.input-icon
                                input(type='tel', name='tel',  data-mask='+7 (000) 000-00-00', placeholder='Ваш телефон')
                        .col-md-4
                            .input-row.input-btn
                                button.butn.butn_tada(type='submit', data-rel='order3')
                                    | Получить помощь
                            .input-row.input-row_margin0
                                input(type='checkbox' name='agree' style='display: none;')
                                .form-hint.form-hint_white Нажимая кнопку "Получить помощь" Вы соглашаетесь с 
                                    a(href="#") условиями работы сайта
            .section__title
                h2 Центр лечения алкоголизма в Москве
            .row
                .col-md-7.text
                    p Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Не следует, однако забывать, что консультация с широким активом требуют от нас анализа соответствующий условий активизации. 
                    p Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                    p Равным образом укрепление и развитие структуры требуют определения и уточнения новых предложений. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
                .col-md-5
                    .about-text__img
                        img(src='img/img-about-text.png' alt='')
    section#location
        .location__title
            .section__title
                h2 Контакты
            ul.nav-map-tab
                li.active
                    a(data-toggle='tab', href='#map-msk') Москва
                li
                    a(data-toggle='tab', href='#map-msk-obl') Московская область 
        .tab-content
          #map-msk.tab-pane.fade.in.active
            #map1
          #map-msk-obl.tab-pane.fade
            #map2
