main.inner-main

    .container
        ul.bread-crumb
            li
                a(href="#") Главная
            li
                a.active(href="javascript:void(0)")  Контакты
        .page-title
            h2 Контакты клиники лечения алкоголизма «Пробуждение»
        .row.contacts
            .col-md-4
                .contacts__item
                    a(href="https://yandex.ua/maps/-/CBUaYGW4XA") ул. 3-я Карачаровская улица, 9к2
            .col-md-4
                .contacts__item
                    a(href="tel:84955546689") 8 (495) 554-66-89
            .col-md-4
                .contacts__item
                    a(href="mailto:info@lechenie-alko-moscow.ru") info@lechenie-alko-moscow.ru
    .map-wrap
        #map1
    .container
        ul.adresess
            li
                a(href="#")  Москва: Хорошёвское ш., д.82, оф.8
            li
                a(href="#") Домодедово: ул.Советская, д.10
            li
                a(href="#") Мытищи: Новомытищинский пр., д.41, к.1
            li
                a(href="#") Видное: пр.Ленинского Комсомола, д.17
            li
                a(href="#") Дубна: ул.Энтузиастов, д.3а
            li
                a(href="#") Обнинск: ул. Королева 7
            li
                a(href="#") Воскресенск: ул.Советская, 2г
            li
                a(href="#") Железнодорожный: ул. Новая 12
            li
                a(href="#") Одинцово: Можайское шоссе 49
            li
                a(href="#") Дмитров: ул.Большевистская, 3
            li
                a(href="#") Коломна: ул. Октябрьской Революции 232
            li
                a(href="#") Подольск: ул. Рощинская 3
            li
                a(href="#") Долгопрудный: ул.Дирижабельная, д.15/22
            li
                a(href="#") Люберцы: ул. Электрофикации, 3
            li
                a(href="#") Пушкино: ул. Октябрьская 38
        
