main.inner-main
    .container
        .row
            .col-md-push-4.col-md-8
                ul.bread-crumb
                    li
                        a(href="#") Главная
                    li
                        a.active(href="javascript:void(0)")  Вывод из запоя
                .text
                    h2 Вывод из запоя в Москве
                    img(src='img/img-article.png' alt='')
                    p Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                    p Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании дальнейших направлений развития.
                    p С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения дальнейших направлений развития. 
                    p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения дальнейших направлений развития.
                    h3 Выведение из запоя анонимно
                    p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                    p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития. Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 
                    h3 Цены на обрыв запоя
                    table
                        tr
                            th(colspan="2") Лечение алкоголизма в стационаре
                        tr
                            td Доставка пациента в стационар в сопровождении врача (Москва и МО)
                            td 2 000 рублей
                        tr
                            th(colspan="2") Размещение в стационаре:
                        
                        tr
                            td Палата эконом-класса/сутки
                            td 4 500 рублей
                        tr
                            td Двух- и трехместная палата/сутки (стандарт)
                            td 6 000 рублей
                        tr
                            td Одноместная палата/сутки (палата повышенной комфортности)
                            td 9 500 рублей
                    table.reverse-bg
                        tr
                            th(colspan="2") курсы лечения в стационаре
                        tr
                            th(colspan="2") В палате эконом-класса:
                        tr
                            td «Базовый»
                                a(href="javascript:void(0)") Подробнее
                                    ul 
                                        li осмотр и диагностика состояния
                                        li кардиограмма
                                        li лекарства на 3 дня
                                        li седитативные препараты
                                        li психотерапевтическая беседа
                            td 16 000 рублей
                        tr
                            td «Стандартный»
                                a(href="javascript:void(0)") Подробнее
                                    ul 
                                        li осмотр и диагностика состояния
                                        li кардиограмма
                                        li лекарства на 3 дня
                                        li седитативные препараты
                                        li психотерапевтическая беседа
                            td 30 000 рублей
                        tr
                            td «Расширенный»
                                a(href="javascript:void(0)") Подробнее
                                    ul 
                                        li осмотр и диагностика состояния
                                        li кардиограмма
                                        li лекарства на 3 дня
                                        li седитативные препараты
                                        li психотерапевтическая беседа
                            td 47 000 рублей
                        tr
                            td «Максимальный»
                                a(href="javascript:void(0)") Подробнее
                                    ul 
                                        li осмотр и диагностика состояния
                                        li кардиограмма
                                        li лекарства на 3 дня
                                        li седитативные препараты
                                        li психотерапевтическая беседа
                            td 55 500 рублей
                    h3 Выведение из запоя анонимно
                    p Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития.
            .col-md-pull-8.col-md-4.sidebar
                .sidebar-menu.sidebar__item
                    .form__title
                        p Меню раздела
                    ul
                        li
                            a(href="#") Вывод из запоя на дому
                        li
                            a(href="#") Вывод из запоя в стационаре
                        li
                            a(href="#") Капельница от запоя
                        li
                            a(href="#") Прокапаться от алкоголя
                        li
                            a(href="#") Снятие острой алкогольной интоксикации
                        li
                            a(href="#") Капельница от похмелья
                        li
                            a(href="#") Очищение от алкоголя
                        li
                            a(href="#") Лечение похмелья
                .form-wrap.sidebar__item
                    .form__title
                        p Бесплатная анонимная консультация
                    form#order1(method='POST', onsubmit='return false')
                        .input-row.input-icon.input-icon_user
                            input(type='text', name='name', placeholder='Ваше имя')
                        .input-row.input-icon.input-icon_phone
                            input(type='tel', name='tel', data-mask='+7 (000)-000-00-00', placeholder='Ваш телефон')
                        .input-row
                            button.butn(type='submit', data-rel='order1')
                                | Записаться
                        .input-row.input-row_margin0
                            input(type='checkbox' name='agree' style='display: none;')
                            .form-hint Нажимая кнопку "Записаться" Вы соглашаетесь с 
                                a(href="#") условиями работы сайта
                .sidebar__item
                    .form__title
                        p Благодарности пациентов
                    .sidebar-slider
                        .sidebar-slider__item
                            img(src='img/img-testemonials.png' alt='')
                        .sidebar-slider__item
                            img(src='img/img-testemonials.png' alt='')
                        .sidebar-slider__item
                            img(src='img/img-testemonials.png' alt='')
                        .sidebar-slider__item
                            img(src='img/img-testemonials.png' alt='')
                    .sidebar__slider-butn-holder
                        a.butn.butn_white(href="#")  Смотреть все
                .sidebar__item.sidebar__item_banner
                    img(src='img/img-banner.png' alt='')
        .call-to-action
            h4 Не теряйте драгоценное время
                span Позвоните прямо сейчас
            .call-to-action__phone
                a(href="tel:88612005544") 8 (861) 200-55-44
                span  Анонимная консультация, 24/7, бесплатно
            .call-to-action__butn-holder
                span Или оставьте заявку, мы перезвоним в ближайшее время
                a.butn.butn_white(href="#") Оставьте заявку
