footer
	.footer__top
		.container
			.row
				.col-xs-6.col-md-4
					.logo
						img(src='img/logo.png' alt='')
					.payments
						h4 Способы оплаты:
						img(src="img/img-payments.png", alt="")
				.col-xs-6.col-md-4.footer__contacts
					h4 Контакты:
					p Клиника лечения алкоголизма «Пробуждение»
					p
						a(href="https://goo.gl/maps/QH36LbCmKht", target="_blank") 34400, г. Москва, ул. Донская, 33.
					p 
						a(href="mailto:info@lechenie-alko-moscow.ru") info@lechenie-alko-moscow.ru
				.col-xs-12.col-md-4.footer__phone
					h4 Горячая линия:
					a(href="tel:88612005544") 8 (861) 200-55-44
					a.butn(data-toggle="modal" href="#myModal") Обратный звонок 
	.footer__bottom
		.container
			.row
				.col-md-8.lisence
					| Лицензия на мед. деятельность: ЛО-12-22-441312 Указанные цены на сайте не являются публичной офертой
				.col-md-4.footer__socials
					h4 Мы в соцсетях:
					ul
						li
							a.soc.soc_vk(href="#", target="_blank")
						li
							a.soc.soc_fb(href="#", target="_blank")
						li
							a.soc.soc_tw(href="#", target="_blank")
						li
							a.soc.soc_ins(href="#", target="_blank")
						li
							a.soc.soc_yt(href="#", target="_blank")
.modal-hidden         
			#help.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog.modal-dialog_help
					.modal-content
						.close-x(role='button', data-dismiss='modal')
						.form-wrap
							.form__title
								p Получить помощь
							form#help-form(method='POST', onsubmit='return false')
								.input-row.input-icon.input-icon_user
									input(type='text', name='name', placeholder='Ваше имя')
								.input-row.input-icon.input-icon_phone
									input(type='tel', name='tel',  data-mask='+7 (000) 000-00-00', placeholder='Ваш телефон')
								.input-row
									button.butn(type='submit', data-rel='order1')
										| Записаться
								.input-row.input-row_margin0
									input(type='checkbox' name='agree' style='display: none;')
									.form-hint Нажимая кнопку "Получить помощь" Вы соглашаетесь с 
										a(href="#") условиями работы сайта
			
