header
	.header__top
		.container
			#hamburger(role='button')
				span
				span
				span
				span
			ul#nav.navi
				li
					a(href='#' ) О клинике
				li
					a(href='#' ) Цены
				li
					a(href='#' ) Врачи
				li
					a(href='#' ) Лицензии и сертификаты
				li
					a(href='#' ) Отзывы
				li
					a(href='#' ) Гарантии
	.header__middle
		.container
			.row
				.col-xs-6.col-md-3.logo.heder__logo
					a(href="#") 
						img(src='img/logo.png' alt='logo')
				.col-xs-6.col-md-4
					.slogan Круглосуточная анонимная помощь 
						|в  лечении алкоголизма
				.col-xs-6.col-md-2.phone.header__phone
					a(href='tel:88612005544') 8 (861) 200-55-44
					span Горячая линия
				.col-xs-6.col-md-3
					.header__button-holder
						a.butn(data-toggle="modal" href="#help") Получить помощь
	.header__bottom
		.container
			#hamburger-low-wrap
				#hamburger-low(role='button')
				p Показать услуги
			ul#nav-low.navi
				li
					a(href='#' ) Лечение алкоголизма
				li
					a(href='#' ) Вывод из запоя
					ul
						li
							a(href="#") На дому
						li
							a(href="#") В стационаре
						li
							a(href="#") Капельница
						li
							a(href="#") Прокапаться от алкоголя
						li
							a(href="#") Снятие интоксикации
						li
							a(href="#") Капельница от похмелья
						li
							a(href="#") Очищение
						li
							a(href="#") Лечение похмелья
				li
					a(href='#' ) Нарколог на дом
				li
					a(href='#' ) Кодирование
				li
					a(href='#' ) Реабилитация
				li
					a(href='#' ) О клинике
				li
					a(href='#' ) Контакты
