main {}

section {
    padding: 70px 0;
}

.section__title {
    position: relative;

    h2 {
        color: #333333;
        padding-bottom: 20px;
        margin-bottom: 50px;
        font-family: 'geometria', sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
        text-transform: uppercase;
        text-align: center;
    }

    &:after,
    &:before {
        @include pseudo;
        left: 50%;
        transform: translateX(-50%);
    }

    &:before {
        background-color: #dadada;
        width: 115px;
        height: 1px;
        bottom: 0;
    }

    &:after {
        background-color: #53c4f6;
        width: 44px;
        height: 3px;
        bottom: -1px;
    }
}
/*---=== section#about ===---*/

#about {
    padding: 70px 0 40px;
    background: linear-gradient(-30deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%), url('../img/bg-about.png') center;
    background-size: cover;
}

.about__title {
    margin-bottom: 41px;

    p {
        color: #fff;
        font-family: 'geometriabold', sans-serif;
        font-size: 35px;
        text-transform: uppercase;
    }
}

.about__list {
    list-style: none;

    li {
        width: 50%;
        float: left;
        padding: 0 20px 0 79px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 83px;
        position: relative;
        cursor: default;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.icon-wrap {
    position: absolute;
    left: 0;
    top: -18px;
    width: 59px;
    height: 59px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.6s ease-in-out;

    &:before {
        @include pseudo;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 50%;
        left: -3px;
        top: 50%;
    }

    &_dot7 {
        &:before {
            left: 6px;
            top: 82%;
        }
    }

    &_dot6 {
        &:before {
            left: 49%;
            top: 55px;
        }
    }

    &_dot5 {
        &:before {
            left: 46px;
            top: 82%;
        }
    }

    &_dot3 {
        &:before {
            left: 55px;
            top: 49%;
        }
    }
}

.about__icon {
    fill: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(-50%);

    &_stamp {
        width: 26px;
        height: 29px;
    }

    &_ambulance {
        width: 32px;
        height: 25px;
    }

    &_sheet {
        width: 23px;
        height: 25px;
    }

    &_house {
        width: 27px;
        height: 24px;
    }

    &_wallet {
        width: 27px;
        height: 27px;
    }
}

.about__list li:hover {
    .icon-wrap {
        transform: rotate(360deg);
    }
}

.form-wrap {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #fff;
    padding: 25px;
}

.form__title {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 26px;

    &:after,
    &:before {
        @include pseudo;
        left: 50%;
        transform: translateX(-50%);
    }

    &:before {
        background-color: #dadada;
        width: 115px;
        height: 1px;
        bottom: 0;
    }

    &:after {
        background-color: #53c4f6;
        width: 44px;
        height: 3px;
        bottom: -1px;
    }

    p {
        color: #333333;
        font-family: 'geometria', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
    }
}

.input-row {
    position: relative;
    margin-bottom: 20px;

    &_margin0 {
        margin-bottom: 0;
    }

    input {
        width: 100%;
        height: 42px;
        line-height: 42px;
        border-radius: 5px;
        padding: 0 45px 0 16px;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        color: #b3b3b3;
        font-size: 16px;
        font-weight: 300;

        &::-webkit-input-placeholder {
            color: inherit;
        }

        &::-moz-placeholder {
            color: inherit;
        }

        &:-ms-input-placeholder {
            color: inherit;
        }

        &:-moz-placeholder {
            color: inherit;
        }
    }

    .butn {
        width: 100%;
    }
}

.input-icon {
    position: relative;

    &:before {
        @include pseudo;
    }

    &_user {
        &:before {
            width: 16px;
            height: 17px;
            background: url("../img/svg/user.svg") no-repeat;
            right: 16px;
            top: 12px;
        }
    }

    &_phone {
        &:before {
            width: 19px;
            height: 18px;
            background: url("../img/svg/phone.svg") no-repeat;
            right: 15px;
            top: 12px;
        }
    }
}

.jq-checkbox {
    position: absolute!important;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    z-index: 9;
    background: #fff;

    &:before {
        display: block;
        position: absolute;
        content: '✓';
        left: 2px;
        top: -3px;
        color: #5ad5a1;
        opacity: 0;
    }

    &.checked {
        &:before {
            opacity: 1;
        }
    }
}

.form-hint {
    display: inline-block;
    padding: 0 0 0 23px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #848484;
    position: relative;

    a {
        color: #5ad5a1;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
/*---=== section#services ===---*/
.service {
    display: block;
    text-align: center;
    color: #333;
    padding: 25px;
    transition: all 0.3s ease-in-out;

    &__img {
        margin-bottom: 20px;

        img {
            max-width: 100%;
            max-height: 155px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &__price {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .butn {
        width: 100%;
    }

    &:hover {
        text-decoration: none;
        color: #333;
        box-shadow: 0 5px 32px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        background-color: #fff;

        .butn {
            color: #ffffff;
            background-color: #8ce2bd;
        }
    }
}
/*---=== section#why-we ===---*/
#why-we {
    background-color: #edf9fe;
}

.why {
    height: 100px;
    text-align: center;
    display: inline-block;

    &__icon-wrap {
        position: relative;
        display: inline-block;
        height: 120px;

        &:after {
            @include pseudo;
            width: 76px;
            height: 76px;
            border-radius: 50%;
            background-color: #fff;
            right: -25px;
            top: 10px;
            transition: all 0.8s ease-in-out;
            z-index: 0;
        }

        span {
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: #53c4f6;
            border-radius: 2px;
            transition: all 0.4s ease-in-out;
            z-index: 3;

            &:before {
                @include pseudo;
                background-color: inherit;
                height: 2px;
            }
        }

        span.item1 {
            top: 13px;
            left: -12px;
            transform: rotate(45deg);

            &:before {
                width: 10px;
                transform: rotate(-84deg);
            }
        }

        span.item2 {
            top: 65px;
            left: 104%;

            &:before {
                width: 5px;
                left: 0;
                top: -3px;
            }
        }

        span.item3 {
            top: 79%;
            left: 21px;
            transform: rotate(-45deg);

            &:before {
                width: 4px;
                left: 2px;
                top: -3px;
            }
        }

        &_star {
            &:after {
                right: 15px;
                top: 0;
            }

            span.item1 {
                top: 0;
                left: 100%;
            }

            span.item2 {
                top: 75px;
                left: -10px;
            }

            span.item3 {
                top: 75px;
                left: 100%;
            }
        }

        &_bag {
            &:after {
                right: -30px;
                top: 20px;
            }

            span.item1 {
                top: 75px;
                left: -20px;
            }

            span.item2 {
                top: 0;
                left: 100%;
            }

            span.item3 {
                top: 0;
                left: -20px;
            }
        }

        &_clock {
            &:after {
                right: 25px;
                top: -10px;
            }

            span.item1 {
                top: 75px;
                left: -20px;
            }

            span.item2 {
                top: 45px;
                left: 110%;
            }

            span.item3 {
                top: 0;
                left: -20px;
            }
        }
    }

    &__icon {
        display: inline-block;
        fill: #53c4f6;
        position: relative;
        z-index: 3;

        &_sheet-big {
            width: 71px;
            height: 80px;
        }

        &_star {
            width: 66px;
            height: 93px;
        }

        &_bag {
            width: 83px;
            height: 81px;
        }

        &_clock {
            width: 87px;
            height: 84px;
        }
    }
}

.why {
    &:hover {
        .why__icon-wrap {
            span {
                transform: rotate(390deg);
            }

            &_sheet-big {
                &:after {
                    right: 25px;
                    top: -10px;
                }

                span.item1 {
                    left: 101%;
                    top: 75px;
                }

                span.item2 {
                    top: 0;
                    left: -15px;
                }

                span.item3 {
                    top: 0;
                    left: 101%;
                }
            }

            &_star {
                &:after {
                    right: 25px;
                    top: -10px;
                }

                span.item1 {
                    top: 75px;
                    left: -20px;
                }

                span.item2 {
                    top: 45px;
                    left: 110%;
                }

                span.item3 {
                    top: 0;
                    left: -20px;
                }
            }

            &_bag {
                &:after {
                    right: 15px;
                    top: 0;
                }

                span.item1 {
                    top: 0;
                    left: 100%;
                }

                span.item2 {
                    top: 75px;
                    left: -10px;
                }

                span.item3 {
                    top: 75px;
                    left: 100%;
                }
            }

            &_clock {
                &:after {
                    right: -15px;
                    top: 20px;
                }

                span.item1 {
                    top: 0;
                    left: 100%;
                }

                span.item2 {
                    top: 75px;
                    left: -10px;
                }

                span.item3 {
                    top: 75px;
                    left: 100%;
                }
            }
        }
    }
}
/*---=== section#conditions ===---*/

#conditions {
    padding-top: 10px;
    background-image: linear-gradient(180deg, #edf9fe 137px, #fff 137px);
}

.form-wrap_blue {
    background: linear-gradient(-30deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url("../img/bg-form-blue.png");
    background-size: cover;
    padding: 40px;
    margin-bottom: 69px;
}

.input-row_large {
    input {
        height: 50px;
        line-height: 50px;
    }

    &:before {
        top: 17px;
    }
}

.form__title_white {
    text-align: center;

    h2 {
        color: #ffffff;
        font-family: 'geometria', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }

    &:after,
    &:before {
        display: none;
    }
}

.form-hint_white {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

    a {
        color: #fff;
    }
}

.conditions-img {
    display: block;
    position: relative;
    margin-bottom: 30px;

    img {
        width: 100%;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        color: #333333;
        font-family: 'geometria', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        z-index: 3;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &:after,
    &:before {
        @include pseudo;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        transition: all 0.3s ease-in-out;
    }

    &:before {
        background: #fff;
        opacity: 0.9;
    }

    &:after {
        border: 1px solid #d9dede;
    }

    &:hover {
        span {
            opacity: 1;
        }

        &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:after {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
}

.show-more-butn-holder {
    text-align: center;

    .butn {
        min-width: 265px;
    }
}
/* ---=== section#staff ===--- */

#staff {
    background-color: #edf9fe;
}

.slider {
    padding: 0 59px;
    position: relative;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 59px;
        z-index: 10;
        font-size: 32px;
        line-height: 1;

        span {
            padding-top: 3px;
            position: absolute;
            width: 43px;
            height: 43px;
            background-color: #6ad9aa;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;
            &:before{
                display: block;
                content: '\2329';
                position: absolute;
                height: 29px;
                top: 3px;
                left: 16px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }

    .slick-arrow-right {
        right: 0;
        span{
            &:before{
                content: '\232A';}
        }

    }

    .slick-arrow-left {
        left: 0;
    }
}

.staff {
    padding: 25px;
    background: #fff;
    margin: 0 15px;
    height: 100%;

    &__img {
        margin-bottom: 24px;

        img {
            width: 100%;
        }
    }

    &__name {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
    }

    &__experience,
    &__position {
        padding-left: 28px;
        position: relative;
        margin-bottom: 10px;

        &:before {
            @include pseudo;
            top: 0;
            left: 0;
        }
    }

    &__position {
        &:before {
            background: url("../img/svg/med-bag-simple.svg");
            width: 18px;
            height: 18px;
        }
    }

    &__experience {
        &:before {
            background: url("../img/svg/clock-simple.svg");
            width: 18px;
            height: 18px;
        }
    }
}
/* ---=== section#about-text===---*/
#about-text {
    padding-top: 10px;
    background-image: linear-gradient(180deg, #edf9fe 137px, #fff 137px);
}

.text {
    p {
        margin-bottom: 22px;
    }
}

.about-text__img {
    img {
        max-width: 100%;
    }
}
/*---=== #location ===---*/

#location {
    position: relative;
    padding: 0;
}

.location__title {
    position: absolute;
    text-align: center;
    z-index: 99;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    .section__title {
        h2 {
            pointer-events: none;
        }
    }
}

.nav-map-tab {
    list-style: none;
    display: inline-block;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    font-size: 0;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 24px 15px 20px;
            min-width: 240px;
            background: rgba(#fff, .7);
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;
            color: #333;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #fff;
                box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
                background-color: #5ad5a1;
                text-decoration: none;
            }
        }

        &.active {
            a {
                color: #fff;
                box-shadow: 0 5px 18px rgba(90, 213, 161, 0.59);
                background-color: #5ad5a1;
            }
        }

        &:first-child {
            a {
                border-radius: 4px 0 0 4px;
            }
        }

        &:last-child {
            a {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}

#map1,
#map2 {
    height: 600px;
}

.iw {
    &_content {
        p {
            display: block;
            color: #333333;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            position: relative;
            padding-left: 30px;

            &:before {
                @include pseudo;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }
    }

    &_title {
        height: 14px;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 15px;
    }

    &_adress {
        &:before {
            width: 19px;
            height: 18px;
            background: url("../img/svg/house-simple.svg") no-repeat;
        }
    }

    &_phone {
        &:before {
            width: 16px;
            height: 16px;
            background: url("../img/svg/phone-blue.svg") no-repeat;
left: 2px!important;
        }
    }

    &_mail {
        &:before {
            width: 17px;
            height: 14px;
            background: url("../img/svg/envelope.svg") no-repeat;
            left: 3px!important;
        }
    }
}

#bodyContent {
    p {
        display: block;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;

        &:before {
            display: block;
            width: 10px;
            height: 10px;
            background: #000;
        }
    }
}

.tab-content > .tab-pane {
    display: block!important;
    height: 0!important;
    overflow: hidden!important;
}

.tab-content > .active {
    display: block!important;
    height: auto!important;
}
/*--=== inner page style ===---*/
.inner-main {
    padding: 30px 0 70px;
    background-color: #edf9fe;
}

.sidebar {
    &__item {
        box-shadow: 0 5px 43px rgba(82, 196, 246, 0.19);
        border-radius: 0;
        background-color: #ffffff;
        margin-bottom: 30px;
        padding: 30px;
    }
}

.sidebar-menu {
    padding-bottom: 15px;
    padding-left: 0;

    ul {
        list-style: none;

        li {
            padding: 0 0 0 30px;
            border-left: 3px solid transparent;
            transition: all 0.3s ease-in-out;

            a {
                display: block;
                padding: 10px 0 11px;
                font-size: 16px;
                font-weight: 300;
                color: #333333;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border-left: 3px solid #5ad5a1;

                a {
                    color: #5ad5a1;
                    text-decoration: none;
                }
            }
        }
    }
}

.sidebar-slider {
    // padding: 0 59px;
    position: relative;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 100%;
        width: 30px;
        height: 30px;
        z-index: 10;
        font-size: 23px;
        line-height: 1;
        margin-top: 10px;

        span {
            display: block;
            padding-top: 1px;
            width: 30px;
            height: 30px;
            background-color: #6ad9aa;
            border-radius: 50%;
            color: #fff;
            text-align: center;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .slick-arrow-right {
        right: 0;
    }

    .slick-arrow-left {
        left: 0;
    }

    &__item {
        text-align: center;

        img {
            display: inline-block;
            max-width: 100%;
        }
    }
}

.sidebar__slider-butn-holder {
    padding: 0 43px;
    text-align: center;

    .butn {
        width: 100%;
    }
}

.sidebar__item_banner {
    padding: 0;

    img {
        width: 100%;
    }
}

.bread-crumb {
    list-style: none;
    margin-bottom: 30px;

    li {
        position: relative;
        margin: 0 10px 0 0;
        display: inline-block;

        a {
            font-size: 16px;
            font-weight: 300;
            color: #333333;
            text-decoration: underline;
            line-height: 1;
            display: block;

            &:hover {
                text-decoration: none;
            }

            &.active {
                text-decoration: none;
                cursor: default;
                color: #999999;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    li + li {
        padding-left: 15px;

        &:before {
            position: absolute;
            content: '»';
            left: 0;
            top: -4px;
        }
    }
}

.text {
    h2 {
        font-family: 'geometria', sans-serif;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 20px;
        margin-bottom: 25px;
    }

    h3 {
        font-family: 'geometria', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    img {
        width: 100%;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 25px;
    }

    table {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        border-bottom: 1px solid #53c4f6;

        td,
        th {
            padding: 20px 25px;
        }

        th {
            text-align: center;
        }

        tr {
            &:first-child {
                th {
                    background-color: #53c4f6;
                    color: #ffffff;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            &:nth-child(even) {
                background-color: #fff;
            }

            td {
                &:nth-child(2) {
                    text-align: right;
                    font-weight: 700;
                }
            }
        }

        a {
            display: inline-block;
            color: #5ad5a1;
            text-decoration: underline;
            margin-left: 5px;
            position: relative;
            ul{
                padding: 15px 15px 15px 25px;
                position: absolute;
                top: 100%;
                left: 0;
                color: #333333;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.2;
                text-decoration: none;
                max-width: 345px;
                box-shadow: 0 5px 43px rgba(0, 0, 0, 0.15);
                border-radius: 5px ;
                background-color: #ffffff;
                z-index: 99;
                display: none;
            }

            &:hover {
                text-decoration: none;
                ul{
                    display: block;
                }
            }
        }
    }
}

table.reverse-bg {
    tr {
        &:nth-child(even) {
            background-color: transparent;
        }

        &:nth-child(odd) {
            background-color: #fff;
        }
    }
}

.call-to-action {
    box-shadow: 0 11px 51px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    background-color: #f1f1f1;
    background: linear-gradient(-30deg, rgba(67, 189, 218, 0.81) 0%, rgba(83, 196, 246, 0.81) 100%), url(../img/bg-form-blue.png);
background-size: cover;
padding: 35px;
    text-align: center;

    h4 {
        color: #ffffff;
        font-family: 'geometria', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 20px;
            display: block;
            padding-top: 10px;
            margin-bottom: 30px;
        }
    }

    &__phone {
        border: 1px solid #ffffff;
        font-size: 16px;
        padding: 30px;
        color: #ffffff;
        line-height: 30px;
        margin-bottom: 27px;

        a {
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    &__butn-holder {
        color: #ffffff;

        span {
            display: block;
            margin-bottom: 18px;
        }

        .butn {
            display: block;
            margin: 0 auto;
            max-width: 323px;
        }
    }
}
/*---=== contacts ===---*/
.page-title {
    h2 {
        font-family: 'geometria', sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
}

.contacts {
    margin-bottom: 30px;
}

.map-wrap {
    margin-bottom: 35px;
}

.contacts__item {
    border-radius: 4px;
    background-color: #fff;
    padding: 30px;
    text-align: center;

    a {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        padding-left: 30px;
        position: relative;

        &:before {
            @include pseudo;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            text-decoration: none;
        }
    }

    a[href*='map'] {
        &:before {
            background: url("../img/svg/tag.svg") no-repeat;
            width: 19px;
            height: 20px;
        }
    }

    a[href*='tel:'] {
        &:before {
            background: url("../img/svg/phone0.svg") no-repeat;
            width: 19px;
            height: 20px;
        }
    }

    a[href*='tel:'] {
        &:before {
            background: url("../img/svg/phone-blue.svg") no-repeat;
            width: 19px;
            height: 20px;
        }
    }

    a[href*='mailto'] {
        &:before {
            background: url("../img/svg/house-simple.svg") no-repeat;
            width: 19px;
            height: 20px;
        }
    }
}

.adresess {
    margin: 0 -15px;
    overflow: hidden;
    list-style: none;

    li {
        display: inline-table;
        float: left;
        padding: 0 15px;
        width: 33.3333333333%;
        margin-bottom: 30px;

        a {
            display: table-cell;
            height: 65px;
            width: 100%;
            border-radius: 4px;
            background-color: #ffffff;
            padding: 13px 25px;
            color: #333333;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            vertical-align: middle;

            &:hover {
                background-color: #5ad5a1;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
