footer {
    .logo {
        margin-bottom: 24px;
    }

    h4 {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;
    }
}

.payments {
    img {
        max-width: 100%;
    }
}

.footer__top {
    padding: 30px 0;
}

.footer__contacts {
    a {
        display: block;
        color: #333333;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        padding-left: 30px;
        margin-bottom: 15px;
        position: relative;
    }

    a[href*='map'] {
        &:before {
            @include pseudo;
            left: 0;
            top: -2px;
            width: 17px;
            height: 17px;
            background: url("../img/svg/house-simple.svg");
        }
    }

    a[href*='mailto'] {
        &:before {
            @include pseudo;
            left: 1px;
            top: -2px;
            width: 17px;
            height: 17px;
            background: url("../img/svg/envelope.svg");
        }
    }

    p {
        margin-bottom: 15px;
    }
}

.footer__phone {
    padding-left: 65px;

    a[href*="tel"] {
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        display: block;
        margin-bottom: 20px;
    }

    .butn {
        width: 100%;
    }
}

.footer__bottom {
    padding: 18px 0 13px;
    background: #edf9fe;
}

.lisence {
padding-top: 4px;
    color: #8c9295;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

}

.footer__socials {
    text-align: right;

    h4 {
        color: #333333;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        padding-right: 16px;
        margin-bottom: 14px;
    }

    ul {
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;
        }
    }
}

.soc {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #53c4f6;
    border-radius: 50%;
    position: relative;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: 1;
    }

    &:before {
        @include pseudo;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../img/sprite-soc.png");
    }

    &_vk {
        &:before {
            background-position: 0 -21px;
            width: 15px;
            height: 10px;
        }
    }

    &_fb {
        &:before {
            background-position: -55px 0;
            width: 8px;
            height: 15px;
        }
    }

    &_tw {
        &:before {
            background-position: -36px 0;
            width: 14px;
            height: 12px;
        }
    }

    &_ins {
        &:before {
            background-position: -18px 0;
            width: 13px;
            height: 13px;
        }
    }

    &_yt {
        &:before {
            background-position: 0 0;
            width: 13px;
            height: 16px;
        }
    }
}
// =====================-+++++++++++++++++++++++++++
.modal-dialog_help{
    max-width: 350px;
}
.modal-content .contacts-form-wrapper {
    position: relative;
}
.modal-dialog{
    margin-top: 70px!important;
    margin-left: auto;
margin-right: auto;
}
.close-x {
    top: -35px;
    right: -30px;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        transform: rotate(-90deg);
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 30px;
        top: 14px;
        left: 0px;
        background: #f9fef3;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
