/*---=== header ===---*/
.header__top {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    background-image: linear-gradient(-30deg, rgba(67, 189, 218, 0.8) 0%, rgba(83, 196, 246, 0.8) 100%);
    z-index: 995;
}

.navi {
    list-style: none;
    display: block;
    text-align: justify;
    line-height: 0;
    margin-bottom: 0;

    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }

    > li {
        display: inline-block;
        text-align: left;
        line-height: normal;
        font-size: 14px;
        position: relative;
    }
}

#nav {
    margin-bottom: -5px; //fix inline block

    li {
        a {
            display: block;
            color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 60px;
            height: 60px;
            padding: 0 30px;

            &:hover {
                text-decoration: none;
                background: #8ed7f6;
            }
        }
    }
}

.header__middle {
    padding-top: 97px;
    padding-bottom: 30px;
}

.logo {
    img {
        max-width: 100%;
    }
}

.heder__logo {
    padding-right: 0;
}

.slogan {
    padding-left: 75px;
    padding-right: 5px;
    position: relative;

    &:before {
        @include pseudo;
        width: 47px;
        height: 47px;
        left: 10px;
        top: 0;
        background: url('../img/ico-24-7.png');
    }
}

.phone {
    a {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #333333;
    }

    span {
        display: block;
    }
}

.header__phone {
    padding-left: 0;
}

.header__button-holder {
    .butn {
        width: 100%;
    }
}

#nav-low {
    border-top: 1px solid #e4e4e4;
    margin-bottom: -5px;

    > li {
        position: relative;

        &.toggleUL {
            padding-left: 45px;
        }

        > a {
            display: block;
            height: 64px;
            line-height: 64px;
            color: #333333;
            position: relative;
            transition: color 0.3s ease-in-out;

            &:after,
            &:before {
                @include pseudo;
                top: -1px;
                height: 1px;
                background-color: #5ad5a1;
                right: 50%;
                left: 50%;
                transition: all 0.3s ease-in-out;
            }
        }

        > ul {
            z-index: -9;
            visibility: hidden;
            padding: 4px 0;
            list-style: none;
            position: absolute;
            top: 100%;
            width: 246px;
            border-radius: 4px;
            border: 1px solid #8ce2bd;
            background-color: #ffffff;
            z-index: 9;

            > li {
                a {
                    display: block;
                    padding: 13px 20px;
                    color: #333333;
                    font-size: 14px;
                    font-weight: 300;
                    text-decoration: none;

                    &:hover {
                        background: #def7ec;
                    }
                }
            }

            &:before {
                @include pseudo;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 6px 7px 6px;
                border-color: transparent transparent #bcefd9 transparent;
                bottom: 100%;
                left: 55px;
            }

            &:after {
                @include pseudo;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent #ffffff transparent;
                bottom: 100%;
                left: 56px;
            }
        }

        &:hover {
            > a {
                color: #5ad5a1;
                text-decoration: none;

                &:after {
                    right: 0;
                }

                &:before {
                    left: 0;
                }
            }

            > ul {
                visibility: visible;
                z-index: 9;
            }
        }
    }
}

.openUl {
    position: absolute;
    width: 36px;
    height: 23px;
    left: 0;
    top: 5px;

    &:after,
    &:before {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        @include pseudo;
        cursor: pointer;
        height: 3px;
        width: 18px;
        background: #5ad5a1;
        border-radius: 2px;
        top: 16px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    &:before {
        transform: rotate(45deg);
        right: 12px;
    }

    &:after {
        transform: rotate(-45deg);
        right: 0;
    }

    &.open {
        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }
}

#hamburger {
    display: none;
    position: fixed;
    z-index: 9999999999;
    top: 30px;
    right: 30px;
    width: 36px;
    height: 36px;
    border: 2px solid #5ad5a1;
    background: #fff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 28px;
        background: #5ad5a1;
        border-radius: 2px;
        opacity: 1;
        left: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
}

#hamburger span:nth-child(1) {
    top: 9px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 15px;
}

#hamburger span:nth-child(4) {
    top: 21px;
}

#hamburger.open {
    border-color: #fff;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger-low-wrap {
    display: none;
}

#hamburger-low {
    display: inline-block;
    width: 36px;
    height: 23px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;

    &:after,
    &:before {
        @include pseudo;
        height: 3px;
        width: 18px;
        background: #5ad5a1;
        border-radius: 2px;
        top: 16px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    &:before {
        transform: rotate(45deg);
        left: 0;
    }

    &:after {
        transform: rotate(-45deg);
        left: 12px;
    }

    &.open {
        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }
}
