/*MEDIA QUERY*/
@media (max-width: 1199px) {
    .header__phone {
        padding-right: 0;

        a {
            font-size: 18px;
        }
    }
}
@media (max-width: 959px) {
    .nav-map-tab{
        max-width: 240px;
    }
}

@media (min-width: 992px) {
    #nav,
    #nav-low {
        display: block!important;
    }
}
@media (max-width: 991px) {
    #hamburger {
        display: block;
    }

    #nav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 998;
        background-image: linear-gradient(-30deg, rgba(67, 189, 218, 0.9) 0%, rgba(83, 196, 246, 0.9) 100%);
        padding-top: 70px;

        li {
            display: block;
            text-align: center;

            a {
                font-size: 20px;
            }
        }
    }

    .header__middle {
        padding-top: 30px;
        padding-bottom: 0;

        .row {
            [class*='col-'] {
                margin-bottom: 20px;

                &:nth-child(3) {
                    clear: left;
                }
            }
        }
    }

    .header__phone {
        text-align: center;
    }

    .header__bottom {
        .container {
            position: relative;
        }
    }

    #nav-low {
        display: none;
        position: absolute;
        border-top: none;
        background: #fff;
        z-index: 15;
        top: 100%;
        left: 15px;
        right: 15px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
        border-radius: 0 0 5px 5px;

        li {
            display: block;
            padding-left: 20px;
            padding-right: 20px;

            > a {
                height: auto;
                line-height: 1.3;
                padding: 15px 0;
            }

            > ul {
                display: none;
                position: static;
                margin-left: 20px;
                visibility: visible;
                width: auto;

                &:after,
                &:before {
                    display: none;
                }
            }
        }
    }

    #hamburger-low-wrap {
        display: block;

        p {
            display: inline-block;
        }
    }

    #about {
        padding-top: 40px;
    }

    .about__list {
        margin-bottom: 40px;

        li {
            margin-bottom: 63px;
        }
    }

    #why-we {
        .why {
            width: 100%;
        }

        .row {
            [class*='col-'] {
                margin-bottom: 40px;

                &:nth-child(odd) {
                    clear: left;
                }
            }
        }
    }

    .conditions-img span {
        font-size: 16px;
    }

    .footer__phone {
        padding-left: 15px;
        text-align: center;

        .butn {
            max-width: 265px;
        }
    }

    .footer__socials,
    .lisence {
        text-align: center;
    }
     .adresess {
         li{
             width: 50%;
         }
     }
     .contacts__item{
         padding-top: 20px;
         padding-bottom: 20px;
     }
}
@media (max-width: 864px) {
    .slogan {
        display: none;
    }

    .heder__logo {
        width: 100%;
        text-align: center;
        padding-right: 15px;
    }

    .header__phone {
        padding: 0 15px;
    }
}
@media (max-width: 768px) {
    .call-to-action__phone a {
        display: block;
    }
}
@media (max-width: 615px) {
    .footer__top {
        [class*='col-'] {
            width: 100%;
            margin-bottom: 16px;
        }
        text-align: center;
    }

    .footer__contacts {
        a {
            display: inline-block;
        }
    }
    .adresess {
        li{
            width: 100%;
            a{
                text-align: center;
            }
        }
    }
}
@media (max-width: 540px) {
    .about__title {
        p {
            font-size: 23px;
        }
    }

    .about__list li {
        width: auto;
        float: none;
    }

    #services {
        [class*='col-'] {
            width: 100%;
            float: none;
        }

        .butn {
            max-width: 265px;
        }
    }
}
@media (max-width: 444px) {
    #hamburger {
        right: 15px;
    }

    .header__middle {
        .row {
            [class*='col-'] {
                margin-bottom: 15px;
            }
        }
    }

    #conditions {
        .row {
            [class*='col-'] {
                width: 100%;
            }
        }
    }

    .section__title h2 {
        font-size: 27px;
    }

    .call-to-action__phone {
        padding: 20px;

        a {
            font-size: 21px;
        }
    }
    .page-title h2{
        font-size: 23px;
    }
    .close-x{
        right: 0px;
    }
}
@media (max-width: 422px) {
    .header__middle {
        .row {
            [class*='col-'] {
                width: 100%;
            }
        }
    }

    .heder__logo {
        text-align: left;

        img {
            max-width: 245px;
        }
    }

    #why-we {
        .row {
            [class*='col-'] {
                margin-bottom: 50px;
                width: 100%;
            }
        }
    }

    .why p {
        max-width: 265px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider {
        padding: 0 21px;
    }

    .form__title_white h2 {
        font-size: 23px;
    }
}
