/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-f {
  background-image: url(../img/sprite.png);

}
.icon-insta {
  background-image: url(../img/sprite.png);
 
}
.icon-twee {
  background-image: url(../img/sprite.png);

}
.icon-vk {

}
.icon-yt {
  background-image: url(../img/sprite.png);

}
