@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,500,700'); // font-family: 'Roboto', sans-serif;
@font-face {
	font-family: 'geometria', sans-serif;
	src: url('../fonts/geometria/geometria-bold-webfont.eot');
	src: url('../fonts/geometria/geometria-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/geometria-bold-webfont.woff2') format('woff2'), url('../fonts/geometria/geometria-bold-webfont.woff') format('woff'), url('../fonts/geometria/geometria-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
//font-family: 'geometriabold', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;

	&:active,
	&:focus {
		outline: none!important;
		text-decoration: none!important;
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333;
	background: #fff;
}

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: table;
	clear: both;
}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin element-color($color) {
	background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
	margin: 0;
	padding: 0;
}

.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.butn {
	display: inline-block;
	height: 49px;
	line-height: 49px;
	border-radius: 5px;
	background-color: #5ad5a1;
	padding: 0 10px;
	border: 1px solid #5ad5a1;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;

	&:hover, &:focus {
		text-decoration: none;
		color: #ffffff;
		background-color: #8ce2bd;
		border: 1px solid #8ce2bd;
	}
}

.butn_white {
	background-color: #fff;
	color: #5ad5a1;

	&:hover, &:focus  {
		text-decoration: none;
		color: #ffffff;
		background-color: #8ce2bd;
		border: 1px solid #8ce2bd;
		background-color: #5ad5a1;
	}
}

.butn_tada {
	background: #fff;
	border-color: #fff;
	color: #5ad5a1;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;

	&:hover {
		border-color: #fff;
		background: #fff;
		color: #5ad5a1;
		-webkit-animation-name: Tada;
		-moz-animation-name: Tada;
		-o-animation-name: Tada;
		animation-name: Tada;
	}
}
@-webkit-keyframes Tada {
	0% {
		-webkit-transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
	}
}
@-moz-keyframes Tada {
	0% {
		-moz-transform: scale(1);
	}

	10%,
	20% {
		-moz-transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-moz-transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-moz-transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-moz-transform: scale(1) rotate(0);
	}
}
@-o-keyframes Tada {
	0% {
		-o-transform: scale(1);
	}

	10%,
	20% {
		-o-transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-o-transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-o-transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-o-transform: scale(1) rotate(0);
	}
}
@keyframes Tada {
	0% {
		transform: scale(1);
	}

	10%,
	20% {
		transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		transform: scale(1) rotate(0);
	}
}
@import 'sprite-soc';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
